
#ignore specific files

*~
**/*.pyc
*.bak
*.swo
*.swp
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


*/media/
**/migrations/
*/staticfiles/


# Environments
.env
.venv
env/
venv/
ENV/
.idea

db.sqlite3


*.sublime-project
*.sublime-workspace