{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <div class="container">
        <h4>Expo/Stalls Photos</h4>
        <div class="row">
            <!-- <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Expo_Stalls+Photos/574A1005-0DLIN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div> -->
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Expo_Stalls+Photos/574A1274-O4LIN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Expo_Stalls+Photos/574A1275-bFLIN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Expo_Stalls+Photos/574A1278-gcNIN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Expo_Stalls+Photos/574A1280-KwLIN6hs.JPG" alt="" title="">
                    </div>
                </div>
             </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Expo_Stalls+Photos/574A1282-3ILIN6hs.JPG" alt="" title="">
                    </div>
                </div>
             </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Expo_Stalls+Photos/574A1285-uDNIN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Expo_Stalls+Photos/DSC01170-O4LIN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Expo_Stalls+Photos/DSC01316-SGNIN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
          </div>
           <!-- The Modal -->
         <div id="myModal" class="modal">
            <span class="close">×</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
    </div>
</section>
{% endblock content %}