{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
  <div class="container">


    <section>
      <nav>
        <ol class="cd-breadcrumb">
          <li><a href="#0">Home</a></li>
          <li class="current">Media</li>
        </ol>
      </nav>
    </section>

    <ul class="tabs">
      <li class="tab-link current" data-tab="tab-1">Images</li>
      <li class="tab-link" data-tab="tab-2">Video</li>
    </ul>
    <div class="">
      <div id="tab-1" class="Tab-content current customTab">
        <div class="row">
          <div class="col-md-3">
            <a href="{% url 'awards:inauguration' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Inauguration/574A0019__1_-d1IzN6hs.jpg" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>ARE Conference Inauguration</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:session1_images' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media2.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>ARE Conference Session 1</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:session2_images' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media3.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>ARE Conference Session 2</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:session3_images' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media4.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>ARE Conference Session 3</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:session4_images' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media5.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>ARE Conference Session 4</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:session5_images' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media6.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>ARE Conference Session 5</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:session6_images' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media7.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>ARE Conference Session 6</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:session7_images' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media8.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>ARE Conference Session 7</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:session8_images' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media9.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>ARE Conference Session 8</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:ebooklaunch' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media10.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>E-Book Launch</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:esaphotos' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media11.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>ESA Photos</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:expostalls' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media13.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>Expo/Stalls Photos</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:randomclick' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Random+Click/AVI02471-rGXJN6hs.JPG" alt="" title="" class="" /></div>
                
                <div class="textOverlay2">
                  <h3>Random Click</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'awards:shellganechanger' %}">
              <div class="mediaOuter">
                <div class="ImgBoxMedia"><img src="{% static 'images/Media14.png' %}" alt="" title="" class="" /></div>
                <div class="textOverlay2">
                  <h3>Shell Game Changer</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div id="tab-2" class="Tab-content">
        <div class="row">
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=Z7x51eQz6zw&list=PLYklMEpaP9zG2g5_XJnYsVKefSdmPS-n7&index=1"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Inauguration/574A0014-idIzN6hs.jpg" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>ARE Conference Inauguration</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=hspTj7Ptx80&list=PLYklMEpaP9zG2g5_XJnYsVKefSdmPS-n7&index=2"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/Media2.png' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>ARE Conference Session 1</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=9S3d3yicjrI&list=PLYklMEpaP9zG2g5_XJnYsVKefSdmPS-n7&index=3"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/Media3.png' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>ARE Conference Session 2</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=Mh9NOtV52zI&list=PLYklMEpaP9zG2g5_XJnYsVKefSdmPS-n7&index=4"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/Media4.png' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>ARE Conference Session 3</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=diWXXGgAqFk&list=PLYklMEpaP9zG2g5_XJnYsVKefSdmPS-n7&index=5"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/Media5.png' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>ARE Conference Session 4</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=vvO7XuDiHAk&list=PLYklMEpaP9zG2g5_XJnYsVKefSdmPS-n7&index=6"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/Media6.png' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>ARE Conference Session 5</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=OzP-WORWNjg&list=PLYklMEpaP9zG2g5_XJnYsVKefSdmPS-n7&index=7"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/Media7.png' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>ARE Conference Session 6</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=5TeFFlDJH1o&list=PLYklMEpaP9zG2g5_XJnYsVKefSdmPS-n7&index=8"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/Media8.png' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>ARE Conference Session 7</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=Pe4piOBb_V4&list=PLYklMEpaP9zG2g5_XJnYsVKefSdmPS-n7&index=9"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/Media9.png' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>ARE Conference Session 8</h3>
                </div>
              </div>
            </a>
          </div>


          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=pFuR62et0HA&list=PLYklMEpaP9zFTv4iszonl-DrhUIe4PY2J&ab_channel=EnergySwarajFoundation"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/anirban.png' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>Anirban Ghosh in the Energy Swaraj Yatra bus</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=KsrFO78B7ik&list=PLYklMEpaP9zEOnp922W7_NsTjn5JA8frY&ab_channel=EnergySwarajFoundation"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/diya2.JPG' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>Dia Mirza in the Energy Swaraj Yatra bus</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=hXHN-Zyv1zg&list=PLYklMEpaP9zFd5D9fEWqBHZVfKFLqreYA&ab_channel=EnergySwarajFoundation"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/img1media.JPG' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>The unveiling of the Climate Clock</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.youtube.com/watch?v=4WlUzqa8YKA&list=PLYklMEpaP9zEmExuFEAEFrUS1ojkY2dqu&ab_channel=EnergySwarajFoundation"
              target="_blank">
              <div class="mediaOuter">
                <div class="ImgBoxMedia2"><img src="{% static 'images/swami.JPG' %}" alt="" title="" class="" />
                </div>
                <div class="textOverlay">
                  <h3>Param Pujaya Swami Yudhistir Das and Brother Golo</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>

{% endblock content %}

{% block extra_js %}
<script>
  $(document).ready(function () {

    $('ul.tabs li').click(function () {
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs li').removeClass('current');
      $('.Tab-content').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    })

  })
</script>

{% endblock extra_js %}