{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <div class="container">
        <h4>Random Click</h4>
        <div class="row">
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Random+Click/574A1011-chYJN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Random+Click/574A1062-6mYJN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Random+Click/574A1146-EIYJN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Random+Click/574A9983-eSXJN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Random+Click/AVI02385-tlYJN6hs.JPG" alt="" title="">
                    </div>
                </div>
             </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Random+Click/AVI02397-n7XJN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Random+Click/AVI02471-rGXJN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Random+Click/AVI02474-KNXJN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
         </div>
          <!-- The Modal -->
          <div id="myModal" class="modal">
            <span class="close">×</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
    </div>
</section>
{% endblock content %}