{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-part">
                    <img class="logo-img" src="{% static 'images/Logo.png' %}"/>
                    <h4 class="contact-us pb-3">Contact us :</h4>
                    <ul class="list-unstyled">
                        <li class="mb-1">
                            <img src="{% static 'images/footer/1.png' %}"/>
                            +91 8657438867
                        </li>
                        <li>
                            <img src="{% static 'images/footer/2.png' %}"/>
                            conference@energyswaraj.org 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 menu-list MainMenu">
                <h4>Menus</h4>
                <!-- <div class=" ">
                    <div class="navbar-nav ml-auto">
                        <ul>
                            <li> <a class="nav-item nav-link active" href="{% url 'awards:home' %}">Home</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown"
                                    aria-expanded="false">Are Conference</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item " href="{% url 'awards:are_conference2022' %}">Are Conference 2022</a>
                                    <a class="dropdown-item" href="{% url 'awards:are_conference2023' %}">Are Conference 2023</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown"
                                aria-expanded="false">Energy Swaraj Award</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'awards:Sawraj_award2022' %}">Energy Swaraj Award 2022</a>
                                    <a class="dropdown-item" href="{% url 'awards:swaraj_award2023' %}">Energy Swaraj Award 2023</a>
                                </div>
                            </li>
                            <li><a class="nav-item nav-link" href="{% url 'awards:partner' %}" >Partners</a></li>
                            <li><a class="nav-item nav-link" href="{% url 'awards:sponsors' %}">Sponsors</a></li>
                            <li><a class="nav-item nav-link" href="{% url 'awards:media' %}">Media</a></li>
                        </ul>

                        
                      
                    </div>
                </div> -->
                    <div class="navbar-nav ml-auto footerMenu">
                        <ul class="list-inline list-unstyled">
                            <li> <a class="nav-item nav-link active" href="{% url 'awards:home' %}">Home</a></li>
                            <li>
                              <a class="dropdown-item" href="{% url 'awards:are_conference2023' %}">Are Conference</a>
                             </li>
                           <li><a class="dropdown-item" href="{% url 'awards:swaraj_award2023' %}">Energy Swaraj Award</a></li>
                            <li><a class="nav-item nav-link" href="{% url 'awards:partner' %}" >Partners</a></li>
                            <li><a class="nav-item nav-link" href="{% url 'awards:sponsors' %}">Sponsors</a></li>
                            <li><a class="nav-item nav-link" href="{% url 'awards:media' %}">Media</a></li>
                        </ul>
                    </div>  
                    
              
            </div>
            <div class="col-md-5  menu-list subscribe-div">
                <h4 class="pl-0">Subscribe</h4>
                <input class="form-control" placeholder="Enter your email"/>
                <button class="btn home-button">Submit</button>
                <p>By subscribing you agree to with our Privacy Policy</p>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/EnergySwarajFoundation/" target="_blank"><img src="{% static 'images/footer/fb.png' %}"/></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/energy_swaraj/" target="_blank"><img src="{% static 'images/footer/insta.png' %}"/></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/Energy_Swaraj" target="_blank"><img src="{% static 'images/footer/twitter.png' %}"/></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/14529468/" target="_blank"><img src="{% static 'images/footer/linkd.png' %}"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="horizontal-line">
    <div class="container">
        <div class="row copy-right no-gutters">
           
            <div class="col-md-8">
                <div class="text-xl-left text-lg-left text-md-left text-left">

                    <ul class="list-unstyled list-inline futer_list">
                        <li>©2022, All right reserved.</li>
                        <li class="list-inline-item">
                            <a href="{% url 'awards:privacy_policy' %}">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% url 'awards:terms_services' %}">Terms of Service</a>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="col-md-4">
                <div class="right_powerd">
                    <span>Website build by</span>
                    <p><a href="https://thoughtwin.com" target="_blank"><img src="{% static 'images/Logo2.svg' %}" alt=" " title=""></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% block extra_js %}
<script>

// Get the modal
var modal = document.getElementById('myModal');

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}

// Get all images and insert the clicked image inside the modal
// Get the content of the image description and insert it inside the modal image caption
var images = document.getElementsByTagName('img');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
var i;
for (i = 0; i < images.length; i++) {
   images[i].onclick = function(){
       modal.style.display = "block";
       modalImg.src = this.src;
       modalImg.alt = this.alt;
       captionText.innerHTML = this.nextElementSibling.innerHTML;
   }
}
</script>

{% endblock extra_js %}