{% load static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-part">
                    <img class="logo-img" src="{% static 'images/logo.svg' %}"/>
                    <h4 class="contact-us pb-3">Contact us :</h4>
                    <ul class="list-unstyled">
                        <li class="mb-1">
                            <img src="{% static 'images/footer/1.png' %}"/>
                            +91 8291055825
                        </li>
                        <li>
                            <img src="{% static 'images/footer/2.png' %}"/>
                            conference@energyswaraj.org 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 menu-list">
                <h4>Menus</h4>
                <ul class="list-unstyled my-first">
                    <li>
                        <a href="{% url 'awards:home' %}">Home</a></li>
                    <li>
                    <li>
                        <a href="#">Context</a></li>
                    <li>
                        <a href="{% url 'awards:partner' %}">Partners</a></li>
                    
                </ul>
            </div>
            <div class="col-md-2 menu-list">
                <!-- <h4 class="pl-0">Column Two</h4> -->
                <ul class="list-unstyled footer_top">
                    <li>
                        <a href="{% url 'awards:agenda' %}">Agenda</a></li>
                    <li>
                        <a href="{% url 'speakers:speaker' %}">Speakers</a></li>
                    <li>
                        <a href="{% url 'awards:award' %}">Awards</a></li>
                </ul>
            </div>
            <div class="col-md-5  menu-list subscribe-div">
                <h4 class="pl-0">Subscribe</h4>
                <form action="'{% url 'awards:email' %}">
                     {% csrf_token %}
                    <input class="form-control" type="email" id="email" placeholder="Enter your email"/>
                    <button for="email" class="btn home-button">Submit</button>
                </form>
                <p>By subscribing you agree to with our Privacy Policy</p>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/EnergySwarajFoundation/"><img src="{% static 'images/footer/fb.png' %}"/></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/energy_swaraj/"><img src="{% static 'images/footer/insta.png' %}"/></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/Energy_Swaraj"><img src="{% static 'images/footer/twitter.png' %}"/></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/14529468/"><img src="{% static 'images/footer/linkd.png' %}"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="horizontal-line">
    <div class="container">
        <div class="row copy-right">
            <div class="col-md-4">
                <div class="">
                    <p>©2022, All right reserved.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-xl-right text-lg-right text-md-right text-left">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="">Terms of Service</a>
                        </li>
                        <!-- <li class="list-inline-item">
                            <a href="">Cookies Settings</a>
                        </li> -->

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>