{% load static %}
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg ">
                    <a class="navbar-brand p-0" href="{% url 'awards:home' %}">
                        <img src="{% static 'images/Logo.png' %}" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><img src="{% static 'images/homepage/menu.png' %}" alt=""
                                title="" /></span>
                    </button>
                    <div class="collapse navbar-collapse custom_collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                            <ul>
                                <li> <a class="nav-item nav-link active" href="{% url 'awards:home' %}">Home</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown"
                                        aria-expanded="false">Are Conference</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#!">Are Conference 2022</a>
                                        <a class="dropdown-item" href="#!">Are Conference 2023</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown"
                                    aria-expanded="false">Energy Swaraj Award</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">2022</a>
                                        <a class="dropdown-item" href="#">2023</a>
                                    </div>
                                </li>
                                <li><a class="nav-item nav-link" href="{% url 'awards:partner' %}">Partners</a></li>
                                <li><a class="nav-item nav-link" href="#!">Sponsors</a></li>
                                <li><a class="nav-item nav-link" href="#!">Media</a></li>
                            </ul>

                            <!-- <a class="nav-item nav-link" href="{% url 'awards:context' %}">Context</a> -->
                            
                            {% comment %}
                            <!-- <a class="nav-item nav-link" href="{% url 'agenda:agenda_list' %}">Agenda</a>
                            <a class="nav-item nav-link" href="{% url 'speakers:speaker_list' %}">Speakers</a> -->
                            {% endcomment %}
                            {% comment %}
                            <!-- <a class="nav-item nav-link" href="{% url 'awards:agenda' %}">Agenda</a>
                            <a class="nav-item nav-link" href="{% url 'speakers:speaker_list' %}">Speakers</a> -->
                            {% endcomment %}
                            <!-- <a class="nav-item nav-link" href="{% url 'awards:award' %}">Awards</a>
                            <a class="nav-item nav-link" href="{% url 'awards:shell-gamechanger' %}">Game Changer</a> -->
                            {% comment %}
                            {% if user.is_authenticated %}
                            <!-- <a href="#Addspeaker" class="trigger-btn nav-item nav-link"
                                data-toggle="modal">Add_Speaker</a> -->
                            {% endif %}
                            {% endcomment %}
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" target="_blank" class="btn registration-btn">
                                <img src="{% static 'images/registration.png' %}" alt="" title="" class="mr-1" />
                                Logout</a>
                            {% endif %}
                            <div class="register_btn">
                                <a href="https://energyswaraj.org/Registration-Form-for-Academic-Institutions"
                                    target="_blank" class="btn registration-btn">
                                    <img src="{% static 'images/registration.png' %}" alt="" title="" class="mr-2" />
                                    Registration</a>
                            </div>
                        </div>
                    </div>
                    <a href="https://energyswaraj.org/Registration-Form-for-Academic-Institutions" target="_blank"
                        class="btn registration-btn" style="pointer-events: none">
                        <img src="{% static 'images/registration.png' %}" alt="" title="" class="mr-2" />
                        Registration</a>
                </nav>
            </div>
        </div>
    </div>
</header>