.appform-section {
    padding: 40px 0px 70px;
}
.appform-section .form-head h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #252123;
}

.application_banner_area{
    background: url(../images/application_banner.png)no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    z-index: 0;
}

.application_head h2{
    font-weight: 400;
    font-size: 70px;
    line-height: 96px;
    color: #fff;
}
.application_head h3{
    font-weight: 700;
    font-size: 70px;
    line-height: 96px;
    color: #00BCFF;
}
.application_head {
    padding: 12% 0px 8%;
}
.appform-section .form-head h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 16px;
    color: #000000;
    padding-top: 30px;
    display: inline-block;
    width: 81%;
}
.appform-section .form-head p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 16px;
    color: #000000;
    display: inline-block;
    text-align: right;
}
.appform-section span{
    color: #EB5757;  
}
.appform-section .form-head span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 16px;
    color: #EB5757;
}

.appform-section .application-form label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #252123;
    text-transform: capitalize;
}
.email-input{
    width: 556px;
}
.appform-section .application-form textarea{
    /* resize: none; */
    border: 1px solid #BDBDBD;
    border-radius: 6px;
}
.appform-section .application-form input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #828282;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    height: 50px;
    text-indent: 10px;
    max-width: 100%;
}
.appform-section .application-form{
    margin-top: 50px;
}
.appform-section .application-form h4.section-bghead{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    padding-top: 40px;
}
.checkbox-section p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    padding-top: 30px;
}
.checkbox-section span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 16px;
    color: #EB5757;
}
.checkbox-section label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #4B4B4B;
}
.indiviual-register{
    margin-top: 42px;
}
.appform-section .application-form select {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #828282;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    height: 50px;
    text-indent: 10px;
    width: 100%;
    background-color: transparent;
}

.indiviual-register h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}
.award-detailslabel{
    line-height: 21px !important;
    padding-top: 20px;
}
 textarea.height-textarea{
    height: 119px;
}
p.required-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}
.without-bgbtn {
    width: 220px;
    height: 50px;
    border: 1px solid #9A1C20;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 49px;
    padding: 0;
    text-align: center;
    color: #9A1C20;
    background: transparent;
    text-transform: capitalize;
    margin-right: 30px;
    transition: all 0.3s;
}
.without-bgbtn:hover{
    background: #9A1C20;
    color:#fff;
}
.with-bgbtn {
    width: 220px;
    height: 50px;
    background: #9A1C20;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF !important;
    text-transform: capitalize;
    transition: all 0.3s;
}
.with-bgbtn:hover{
    background: transparent;
    border:1px solid #9A1C20;
    color:#9A1C20 !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background: #9A1C20;
    box-shadow: 0px 2.9707px 2.9707px rgb(50 50 71 / 8%), 0px 2.9707px 5.94141px rgb(50 50 71 / 6%);
}
.custom-checkbox .custom-control-label::before{
    height: 18px;
    width: 18px;
    border-radius: 4.45605px;
    cursor: pointer;
}
.custom-checkbox .custom-control-label::after{
    height: 18px;
    width: 18px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("../images/check.svg");
}
.attach-filehead{
    margin-top: 30px;
}
.attach-filehead h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}
.attach-filehead p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #828282;
}
.button-footer {
    border-top: 1px solid #ccc;
    padding-top: 27px;
    margin-top: 30px;
}













[type=file] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
  [type=file] + label {
    background:transparent;
    border: 1px solid #9A1C20;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    width:220px;
    height:50px;
    line-height:50px;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #9A1C20;
  }
  .attach-filehead label {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #9A1C20 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 50px !important;
}

h2.top_padd{
    padding-top:30px;
    color: #212529;
    font-size:32px;
  }

  .attach-filehead input {
    border: none !important;
}

@media (max-width:767px){

    
    .appform-section .form-head h1{
        font-size: 20px;
        line-height: 28px;
    }
    h2.top_padd{
        font-size:25px;
    }
    .float-left.d-inline-block {
        display: block !important;
        text-align: center;
        float: none !important;
    }
    .without-bgbtn{
        margin-right:0px;
        width: 160px;
        height: 44px;
        line-height: 42px;
    }
    .botm_spc {
        margin-bottom: 15px;
    }
    a.with-bgbtn {
        width: 160px;
        height: 44px;
        line-height: 32px;
    }
    .float-right.d-inline-block {
        float: none !important;
        text-align: center;
    }
    .appform-section .form-head h2{
        font-size: 19px;
        line-height: 27px;
        padding-top: 18px;
        padding-bottom:5px;
        display: inline-block;
        width: 100%;
    }
    .appform-section .application-form {
        margin-top: 20px;
    }
    .form-head p {
        padding-top:8px;
        font-size: 18px !important;
    }
    .appform-section .application-form input{
        height:44px;
    }
  
    h4.section-bghead.pt-3 {
        font-size: 22px;
        line-height: 30px;
    }
    .checkbox-section p{
        padding-top: 18px;
        line-height: 25px;
    }
    .attach-filehead h3{
        line-height: 22px;
    }
    .appform-section .application-form label{
        font-size:15px;
    }
    .award-detailslabel{
        padding-top:15px;
    }
    [type=file] + label{
        width: 160px;
        height: 44px;
        line-height: 44px !important;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .application_banner_area{
        background-size: cover;
    }
    .application_head h2{
        font-size:27px;
        line-height:30px;
     }

     .application_head h3{
        font-size: 30px;
        line-height: 52px;
     }
     .application_head {
        padding: 27% 0px 7%;
    }
    .appform-section {
        padding: 20px 0px 25px;
    }
    .appform-section .application-form h4.section-bghead{
        font-size: 16px;
        line-height: 22px;
        padding: 0px !important;
    }
    .checkbox-section p {
        padding-top: 10px;
    }
    .col-md-12.mb-4 {
        margin-bottom: 15px !important;
    }
    button.btn.without-bgbtn {
        margin-bottom: 7px;
    }
    .with-bgbtn {
        width: 160px;
        height: 44px;
        line-height: 30px;
    }
    .button-footer{
        padding-top: 20px;
        margin-top: 20px;
    }

    .attach-filehead {
        margin-top: 15px;
    }

}

@media (max-width:767px){
    footer .subscribe-div input {
        width: 154px;
    }

}