.chanllege_banner{
    background: url(../images/challenge/challenge_img.png)no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    z-index: 0;
}

.chanllange_banner_text {
    text-align: center;
    color: #fff;
    padding: 12% 0px 7.2%;
    width: 57%;
    margin: 1px auto;
}
.chanllange_banner_text h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
}

.chanllange_banner_text h1 span{
    font-weight:400;
}

.chanllege_left p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #252123; 
    padding-bottom: 20px;
}
.chanllege_left h6 {
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    color: #000;
    padding-bottom: 28px;
    padding-top: 15px;
}

.chanllege_left a {
    display: inline-block;
    background: #9A1C20;
    color: #fff;
    width: 220px;
    height:50px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    border-radius:50px;
    line-height:50px;
}
section.chanllege_text {
    padding: 50px 0px 80px;
}

@media screen and (max-width: 767px) {

    .chanllege_banner{
        background-size:cover;
    }
    .chanllange_banner_text{
        width:100%;
    }
    .chanllange_banner_text {
        padding: 22% 0px 10%;
    }
    .chanllange_banner_text h1{
        font-size: 30px;
        line-height: 34px;
    }
    section.chanllege_text {
        padding: 40px 0px 35px;
    }
    .chanllege_left p{
        padding-bottom: 12px;
    }
    .chanllege_left h6{
        padding-bottom: 15px;
        padding-top: 0;
    }
    .chanllege_left a{
        width: 180px;
        height: 44px;
        line-height: 44px;
    }
    .chanllege_left {
        padding-bottom: 15px;
    }   

    .chanllege_img {
        padding-bottom: 15px;
    }

}


@media screen and (min-width: 768px) and (max-width: 991px) { 
 
    .chanllege_banner{
        background-size:cover;
    }
    .chanllange_banner_text{
        width:100%;
    }
    .chanllange_banner_text h1{
        font-size: 50px;
        line-height: 55px;
    }
    .chanllege_left p{
        padding-bottom: 10px;
    }
    .chanllege_left h6{
        padding-top: 0px;
    }

    section.chanllege_text {
        padding: 40px 0px 50px;
    }

    
    

}
