footer{
    background: #FFFFFF;
    box-shadow: 0px -8px 20px rgba(0, 0, 0, 0.1);
    padding-top: 37px;
}
footer .menu-list h4{
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #252123;  
    padding-bottom: 15px;
    font-family: 'Poppins';
    padding-left: 52px;
}
footer .menu-list ul.my-first{
    padding-left: 52px;
}
footer .menu-list li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #4B4B4B;
    margin-bottom: 8px;
}
footer .menu-list li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #4B4B4B;
    margin-bottom: 8px;
}
footer .contact-us{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #252123;  
    padding-bottom: 15px;
    font-family: 'Poppins';
}
footer .contact-part li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #252123;
}
footer .contact-part .logo-img{
    width: 100%;
}
footer .contact-part li img{
    width: auto;
    margin-right: 10px;
}
.horizontal-line{
    background-color: #BDBDBD;
    margin-bottom: 0;
}
footer .subscribe-div input{
    height: 44px;
    width: 291px;
    border: 1px solid #252123;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 90%;
    color: #4F4F4F;
    padding-left: 17px;
    display: inline-block;
    margin-right: 10px;
}
footer .subscribe-div button{
    display: inline-block;
    width: 126px;
    height: 44px;
    background: #9A1C20;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    float: right;
}
footer .subscribe-div p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #252123;
    padding: 20px 0px;
}
footer .subscribe-div li{
    margin-right: 12px !important;
}
.copy-right{
    padding: 40px 0px;
}
.copy-right p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #252123;
}
.copy-right li{
    padding-left: 10px;
}
.copy-right li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration-line: underline !important;
    color: #252123;
}
ul.list-unstyled.footer_top {
    padding-top: 39px;
}


@media (max-width:767px){
    .copy-right li {
        padding-right: 20px !important;
    }
    footer .subscribe-div input{
        width: 200px;
    }
    footer .menu-list h4{
        padding-left: 0 !important;
    }
    footer .menu-list ul.my-first{
        padding-left: 0 !important;
    }
   
}
@media (min-width:768px) and (max-width: 1024px) {
    footer .contact-part .logo-img{
        width: 100%;
    }
    footer .subscribe-div input{
        width: 165px;
    }
    footer .subscribe-div button{
        width: 89px;
    }
    footer .menu-list h4{
        font-size: 14px;
    }
}

@media (min-width:1024px) and (max-width: 1144px){
    footer .subscribe-div input {
        width: 225px;
    }
}
