{% extends "layout/base.html" %}
{% load static %}

{% block content %}

<div style="padding:120px;">

	<h4>Individual</h4>
	<table class="table">

	  	<thead>
		    <tr class="table-secondary">
		      	<th scope="col">ID</th>
		      	<th scope="col">Full Name</th>
		      	<th scope="col">Email</th>
		      	<th scope="col">View Details</th>
		    </tr>
		</thead>
		{% for applicant in context %}
			{% if applicant.full_name != None %}
				<tbody>
				    <tr>
				      	<th scope="row">{{applicant.id}}</th>
				      	<td>{{applicant.full_name}}</td>
				      	<td>{{applicant.email}}</td>
				      	<td><a href="{% url 'awards:amg_applicant_detail' applicant.id %}">View</a></td>
				    </tr>
			  	</tbody>
			{% endif %}
	  	{% endfor %}
	</table>

	<h4>Organization</h4>
	<table class="table">

	  	<thead>
		    <tr class="table-secondary">
		      	<th scope="col">ID</th>
		      	<th scope="col">Org Name</th>
		      	<th scope="col">Contact Person Name</th>
		      	<th scope="col">View Details</th>
		    </tr>
		</thead>
		{% for applicant in context %}
			<!-- {% if applicant.full_name == None %} -->
				{% if applicant.org_name %}
					<tbody>
					    <tr>
					      	<th scope="row">{{applicant.id}}</th>
					      	<td>{{applicant.org_name}}</td>
					      	<td>{{applicant.org_person_name}}</td>
					      	<td><a href="{% url 'awards:amg_applicant_detail' applicant.id %}">View</a></td>
					    </tr>
				  	</tbody>
			  	{% else %}
			  		<h3>No Data Found</h3>
			  	{% endif %}
			<!-- {% endif %} -->
	  	{% endfor %}
	</table>
</div>

{% endblock content %}
