{% extends "layout/admin_base.html" %}
{% load static %}
{% block content %}
<section class="dashboard_area">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-2">
                <div id="sidebar" role="navigation">
                    <ul>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'admin_dashboard' %}">dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'speaker_admin' %}">Speakers</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'awards_admin' %}">Awards</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'agendas_admin' %}">Agenda</a></li>
                    </ul>
                </div>
            </div>
            <div style="padding:50px;" class="col-md-10">
                <h2>Energy Swaraj Awards Applicants</h2><br>
                {% for key,value in context.items %}
                {% if key == 'individual' %}
                <h4>Individual</h4>
                <table class="table">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">ID</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">View Details</th>
                        </tr>
                    </thead>
                    {% if value %}
                    <tbody>
                        {% for applicant in value %}
                        <tr>
                            <th scope="row">{{applicant.id}}</th>
                            <td>{{applicant.full_name}}</td>
                            <td>{{applicant.email}}</td>
                            <td><a href="{% url 'awards:amg_applicant_detail' applicant.id %}">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <tbody>
                        <td colspan="7">
                            <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                <h4>No record found</h4>
                            </div>
                        </td>
                    </tbody>
                    {% endif %}
                </table>
                {% elif key == 'organization' %}
                <h4>Organization</h4>
                <table class="table">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">ID</th>
                            <th scope="col">Org Name</th>
                            <th scope="col">Contact Person Name</th>
                            <th scope="col">View Details</th>
                        </tr>
                    </thead>
                    {% if value %}
                    <tbody>
                        {% for applicant in value %}
                        <tr>
                            <th scope="row">{{applicant.id}}</th>
                            <td>{{applicant.org_name}}</td>
                            <td>{{applicant.org_person_name}}</td>
                            <td><a href="{% url 'awards:amg_applicant_detail' applicant.id %}">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <tbody>
                        <td colspan="7">
                            <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                <h4>No record found</h4>
                            </div>
                        </td>
                    </tbody>
                    {% endif %}
                </table>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}