{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/thank.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_login.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="applicat_area">
     <div class="container">
          <div class="row">
               <div class="col-md-12">
                <select name="challenge_number" id="selected-challenge">
                    <option value="0" selected>ALL</option>
                    {% for key, value in context.items %}
                        <option value={{ key }}>Climate Hackathon Challenge {{ key }}</option>
                    {% endfor %}
                </select>
                <div style="padding-top:2rem">
                    {% for key,value in context.items %}
                    {% if key == 1 %}
                        <div class="all_form" id="1">
                            <h2>Climate Hackathon Challenge {{ key }}</h2>
                            <table class="table table-bordered custom_table" id="1" >
                                <thead class="head_top">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Organization</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">View Details</th>
                                    </tr>
                                </thead>
                                {% if value.data %}
                                {% for applicant in value.data %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{applicant.id}}</th>
                                            <td>{{applicant.participant}}</td>
                                            <td>{{applicant.full_name}}</td>
                                            <td><a href="{% url 'awards:climate_applicants_detail' applicant.id %}">View</a></td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                                {% else %}
                                    <tbody>
                                        <td colspan="7">
                                            <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                                <h4>No record found</h4>
                                            </div>
                                        </td>
                                    </tbody>
                                {% endif %}                   
                            </table>
                        </div>
                    {% elif key == 2 %}
                        <div class="all_form" id="2">
                            <h2>Climate Hackathon Challenge {{ key }}</h2>
                            <table class="table table-bordered custom_table" id="2">
                                <thead class="head_top">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">View Details</th>
                                    </tr>
                                </thead>
                                {% if value.data %}
                                {% for applicant in value.data %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{applicant.id}}</th>
                                            <td>{{applicant.full_name}}</td>
                                            <td>{{applicant.email}}</td>
                                            <td><a href="{% url 'awards:climate_applicants_detail' applicant.id %}">View</a></td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                                {% else %}
                                    <tbody>
                                        <td colspan="7">
                                            <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                                <h4>No record found</h4>
                                            </div>
                                        </td>
                                    </tbody>                    
                                {% endif %}
                            </table>
                        </div>
                    {% elif key == 3 %}
                        <div class="all_form" id="3">
                            <h2>Climate Hackathon Challenge {{ key }}</h2>
                            <table class="table table-bordered custom_table" id="3">
                                <thead class="head_top">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">View Details</th>
                                    </tr>
                                </thead>
                                {% if value.data %}
                                {% for applicant in value.data %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{applicant.id}}</th>
                                            <td>{{applicant.full_name}}</td>
                                            <td>{{applicant.email}}</td>
                                            <td><a href="{% url 'awards:climate_applicants_detail' applicant.id %}">View</a></td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                                {% else %}
                                <tbody>
                                    <td colspan="7">
                                        <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                            <h4>No record found</h4>
                                        </div>
                                    </td>
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                    {% elif key == 4 %}
                        <div class="all_form" id="4">
                            <h2>Climate Hackathon Challenge {{ key }}</h2>
                            <table class="table table-bordered custom_table" id="4">
                                <thead class="head_top">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">View Details</th>
                                    </tr>
                                </thead>
                                {% if value.data %}
                                {% for applicant in value.data %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{applicant.id}}</th>
                                            <td>{{applicant.full_name}}</td>
                                            <td>{{applicant.email}}</td>
                                            <td><a href="{% url 'awards:climate_applicants_detail' applicant.id %}">View</a></td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                                {% else %}
                                    <tbody>
                                        <td colspan="7">
                                            <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                                <h4>No record found</h4>
                                            </div>
                                        </td>
                                    </tbody>                    
                                {% endif %}
                            </table>
                        </div>
                    {% elif key == 5 %}
                        <div class="all_form" id="5">
                            <h2>Climate Hackathon Challenge {{ key }}</h2>
                            <table class="table table-bordered custom_table" id="5">
                                <thead class="head_top">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">View Details</th>
                                    </tr>
                                </thead>
                                {% if value.data %}
                                {% for applicant in value.data %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{applicant.id}}</th>
                                            <td>{{applicant.full_name}}</td>
                                            <td>{{applicant.email}}</td>
                                            <td><a href="{% url 'awards:climate_applicants_detail' applicant.id %}">View</a></td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                                {% else %}
                                    <tbody>
                                        <td colspan="7">
                                            <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                                <h4>No record found</h4>
                                            </div>
                                        </td>
                                    </tbody>                    
                                {% endif %}
                            </table>
                        </div>
                    {% elif key == 6 %}
                        <div class="all_form" id="6">
                            <h2>Climate Hackathon Challenge {{ key }}</h2>
                            <table class="table table-bordered custom_table" id="6">
                                <thead class="head_top">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">View Details</th>
                                    </tr>
                                </thead>
                                {% if value.data %}
                                {% for applicant in value.data %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{applicant.id}}</th>
                                            <td>{{applicant.full_name}}</td>
                                            <td>{{applicant.email}}</td>
                                            <td><a href="{% url 'awards:climate_applicants_detail' applicant.id %}">View</a></td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                                {% else %}
                                    <tbody>
                                        <td colspan="7">
                                            <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                                <h4>No record found</h4>
                                            </div>
                                        </td>
                                    </tbody>                    
                                {% endif %}
                            </table>
                        </div>
                    {% elif key == 7 %}
                        <div class="all_form" id="7">
                            <h2>Climate Hackathon Challenge {{ key }}</h2>
                            <table class="table table-bordered custom_table" id="7">
                                <thead class="head_top">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">View Details</th>
                                    </tr>
                                </thead>
                                {% if value.data %}
                                {% for applicant in value.data %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{applicant.id}}</th>
                                            <td>{{applicant.full_name}}</td>
                                            <td>{{applicant.email}}</td>
                                            <td><a href="{% url 'awards:climate_applicants_detail' applicant.id %}">View</a></td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                                {% else %}
                                    <tbody>
                                        <td colspan="7">
                                            <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                                <h4>No record found</h4>
                                            </div>
                                        </td>
                                    </tbody>                    
                                {% endif %}
                            </table>
                        </div>
                    {% elif key == 8 %}
                        <div class="all_form" id="8">
                            <h2>Climate Hackathon Challenge {{ key }}</h2>
                            <table class="table table-bordered custom_table" id="8">
                                <thead class="head_top">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">View Details</th>
                                    </tr>
                                </thead>
                                {% if value.data %}
                                {% for applicant in value.data %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{applicant.id}}</th>
                                            <td>{{applicant.full_name}}</td>
                                            <td>{{applicant.email}}</td>
                                            <td><a href="{% url 'awards:climate_applicants_detail' applicant.id %}">View</a></td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                                {% else %}
                                    <tbody>
                                        <td colspan="7">
                                            <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                                <h4>No record found</h4>
                                            </div>
                                        </td>
                                    </tbody>                    
                                {% endif %}
                            </table>
                        </div>
                    {% else %}
                    {% endif %}
                    {% endfor %}
                </div>
               </div>
          </div>
     </div>
</section>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
    $('#selected-challenge').change(function(e) {
        var id = this.value;
        if(id == 0){
            $('.all_form').show();
        }
        else {
            $('.all_form').hide();
            $(`#${id}`).show();
        }
    });
</script>
{% endblock extra_js %}

