{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
     <div class="container">
        <h2>Media</h2>
        <div class="row">
            <div class="col-md-3">
              <a href="{% url 'awards:inauguration' %}">
               <div class="mediaOuter">
                 <div class="ImgBoxMedia"><img src="{% static 'images/Media1.png' %}" alt="" title="" class="" /></div> 
                 <div class="textOverlay">
                   <h3>ARE Conference Inauguration</h3>
                 </div>
               </div>
               </a>
            </div>
            <div class="col-md-3">
              <a href="{% url 'awards:session1_images' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media2.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>ARE Conference Session 1</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:session2_images' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media3.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>ARE Conference Session 2</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:session3_images' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media4.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>ARE Conference Session 3</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:session4_images' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media5.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>ARE Conference Session 4</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:session5_images' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media6.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>ARE Conference Session 5</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:session6_images' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media7.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>ARE Conference Session 6</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:session7_images' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media8.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>ARE Conference Session 7</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:session8_images' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media9.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>ARE Conference Session 8</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:ebooklaunch' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media10.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>E-Book Launch</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:esaphotos' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media11.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>ESA Photos</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:expostalls' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media13.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>Expo/Stalls Photos</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:randomclick' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media14.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>Random Click</h3>
                  </div>
                </div>
                </a>
             </div>
             <div class="col-md-3">
              <a href="{% url 'awards:shellganechanger' %}">
                <div class="mediaOuter">
                  <div class="ImgBoxMedia"><img src="{% static 'images/Media14.png' %}" alt="" title="" class="" /></div> 
                  <div class="textOverlay">
                    <h3>Shell Game Changer</h3>
                  </div>
                </div>
                </a>
             </div>
        </div>
     </div>
</section>
{% endblock content %}
