<div id="add_session" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <form action="{% url 'agenda:agenda_add' %}" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="modal-header">
                    <h4>Add Agenda</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">session</label>
                        <input type="choice" name="session" class="form-control" id="" placeholder="session" required="true">
                        <label for="">Start Time</label>
                        <input type="time" name="starttime" class="form-control" id="" placeholder="time" required="true">
                        <label for="">End Time</label>
                        <input type="Time" name="endtime" class="form-control" id="" placeholder="Time" required="true">
                        <label for="">Duration</label>
                        <input type="Date-Time" name="duration" class="form-control" id="" placeholder="duration" required="">
                        <label for="">Event</label>
                        <textarea name="event" class="form-control" id="" placeholder="Detail" required=""> </textarea>
                        <input type="submit" class="btn btn-primary" value="add">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer justify-content-between">
        </div>
    </div>
</div>