{% extends "layout/admin_base.html" %}
{% load static %}
{% load filter %}
{% block extracss %}
{% endblock extracss %}
{% block content %}
<section class="dashboard_area">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-2">
                <div id="sidebar" role="navigation">
                    <ul>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admin_dashboard' %}">dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'speaker_admin' %}">Speakers</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'awards_admin' %}">Awards</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'agendas_admin' %}">Agenda</a></li>
                    </ul>
                </div>
            </div>
            <!-- sidebar close -->
            <div class="col-md-10">
                <div class="dashboard_right">
                    <!-- table section start -->
                    <section class="agenda table_section">
                        <div class="container">
                          
                            <div class="row">
                                  <div class="col-md-12">
                                    <div class="add_newspeak">
                                        <h2>Agenda</h2>
                                        <a href="#add_session" data-toggle="modal"><button type="button" class="common_btn">Add New Agenda</button></a>
                                    </div>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {% for key,value in agenda.items %}
                                    {% if value.data %}
                                    <div class="table_main_box">
                                        <h4>Day {{ key }} | {{ value.date }}</h4>
                                        <table class="table table-bordered custom_table">
                                            <thead class="head_top">
                                                <tr>
                                                    <th class="session_width">session</th>
                                                    <th class="session_2">Time</th>
                                                    <th class="session_2">Duration</th>
                                                    <th scope="col">Event</th>
                                                    <th scope="col">speakers</th>
                                                    <th>Edit</th>
                                                </tr>
                                            </thead>
                                            {% if value.data %}
                                            <tbody>
                                                {% for object in value.data %}
                                                {% if object.session == None %}
                                                <tr class="green_bg">
                                                    <td></td>
                                                    <td>{{ object.starttime }} to {{ object.endtime }}</td>
                                                    <td>{{ object.starttime|mytimesince:object.endtime }}</td>
                                                    <td>{{ object.event }}</td>
                                                    <td></td>
                                                    <td class="text-center">
                                                        <a href="#Editagenda" data-toggle="modal"><span class="agendaedit edit_btn edit-speaker-btn" data-form="{{ object.id }}"><img src="{% static 'images/pen.png' %}" alt="" title="" /></span></a>
                                                    </td>
                                                    {% comment %}
                                                    {% if forloop.counter == 1 %}
                                                    <td rowspan="11"><button type="button" class="edit_btn" data-toggle="modal" data-target="#exampleModalCenter"> <img src="{% static 'images/edit_icon.svg' %}" alt="" title="" /></button> </td>
                                                    {% endif %}
                                                    {% endcomment %}
                                                </tr>
                                                {% else %}
                                                <tr class="dark_bg">
                                                    <td>{{ object.session }}</td>
                                                    <td>{{ object.starttime }} to {{ object.endtime }}</td>
                                                    <td>{{ object.duration }}</td>
                                                    <td>{{ object.event }}</td>
                                                    <td>{{ object.speaker.name }}</td>
                                                    <td class="text-center">
                                                        <a href="#Editagenda" data-toggle="modal"><span class="agendaedit edit_btn edit-speaker-btn" data-form="{{ object.id }}"><img src="{% static 'images/pen.png' %}" alt="" title="" /></span></a>
                                                    </td>
                                                    {% comment %}
                                                    {% if forloop.counter == 1 %}
                                                    <td rowspan="11"><button type="button" class="edit_btn" data-toggle="modal" data-target="#exampleModalCenter"> <img src="{% static 'images/edit_icon.svg' %}" alt="" title="" /></button> </td>
                                                    {% endif %}
                                                    {% endcomment %}
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                            {% else %}
                                            <tbody>
                                                <td colspan="7">
                                                    <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                                        <h4>No record found</h4>
                                                    </div>
                                                </td>
                                            </tbody>
                                            {% endif %}
                                        </table>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block extra_content %}
{% include 'popup/add_speaker_popup.html' %}
{% include 'popup/edit_speaker_popup.html' %}
{% include 'popup/edit_agenda_popup.html' %}
{% include 'popup/add_agenda_popup.html' %}
{% endblock extra_content %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js" integrity="sha512-JGKswjfABjJjtSUnz+y8XUBjBlwM1UHNlm2ZJN7A2a9HUYT3Mskq+SacsI35k4lok+/zetSxhZjKS3r3tfAnQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
$('body').on('click', ".agendaedit", function(e) {
    var agenda_id = $(this).data('form');
    $.ajax({
        type: "GET",
        url: "/admin/editagendapopup/",
        data: { agenda_id: agenda_id, },
        success: function(context) {
            var s_name = context.agenda_speaker_name
            var s_id = context.agenda_speaker_id
            var myOptions = $("#editspeakeroptions");
            myOptions.append($('<option value="" selected="selected"></option>').val(s_id).html(s_name));
            $.each(context.speakers, function(val, text) {
                myOptions.append($('<option value=""></option>').val(text.id).html(text.name));
            });
            console.log(context)
            $(".editdate").val(context.agenda_date);
            $("#agenda_id").val(context.agenda_id);
            $("#editssession").val(context.agenda_session);
            $("#editstarttime").val(context.agenda_start);
            $("#editendtime").val(context.agenda_end);
            $("#editevent").val(context.agenda_event);

        }
    });
});
</script>
{% endblock extra_js %}