{% extends "layout/admin_base.html" %}
{% load static %}
{% block extracss %}
{% endblock extracss %}
{% block content %}
<section class="dashboard_area">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-2">
                <div id="sidebar" role="navigation">
                    <ul>
                        <li class="nav-item"><a class="nav-link" href="{% url 'awards:dashboard' %}">dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'awards:speaker' %}">Speakers</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'awards:awards' %}">Awards</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'awards:agenda_detail' %}">Agenda</a></li>
                    </ul>
                </div>
            </div>
            <!-- sidebar close -->
            <div class="col-md-10">
                <div class="dashboard_right">
                    <!-- table section start -->
                    <section class="table_section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    {% for key,value in agenda.items %}
                                    <div class="table_main_box">
                                        <h4>Day {{ key }} | {{ value.date }}</h4>
                                        <table class="table table-bordered custom_table">
                                            <thead class="head_top">
                                                <tr>
                                                    <th class="session_width">session</th>
                                                    <th class="session_2">Time</th>
                                                    <th class="session_2">Duration</th>
                                                    <th scope="col">Event</th>
                                                    <th scope="col">speakers</th>
                                                    <th>Edit</th>
                                                </tr>
                                            </thead>
                                            {% if value.data %}
                                            <tbody>
                                                {% for object in value.data %}
                                                {% if object.session == None %}
                                                <tr class="green_bg">
                                                    <td></td>
                                                    <td>{{ object.starttime }} to {{ object.endtime }}</td>
                                                    <td>{{ object.duration }}</td>
                                                    <td>{{ object.event }}</td>
                                                    <td></td>
                                                    <td class="text-center"><button data-sessionid="{{ object.id }}" id="editbtn" class="edit_btn edit-speaker-btn"> <img src="{% static 'images/edit_icon.svg' %}" alt="" title="" /></button></td>
                                                    {% comment %}
                                                    {% if forloop.counter == 1 %}
                                                    <td rowspan="11"><button type="button" class="edit_btn" data-toggle="modal" data-target="#exampleModalCenter"> <img src="{% static 'images/edit_icon.svg' %}" alt="" title="" /></button> </td>
                                                    {% endif %}
                                                    {% endcomment %}
                                                </tr>
                                                {% else %}
                                                <tr class="dark_bg">
                                                    <td>{{ object.session }}</td>
                                                    <td>{{ object.starttime }} to {{ object.endtime }}</td>
                                                    <td>{{ object.duration }}</td>
                                                    <td>{{ object.event }}</td>
                                                    <td>{{ object.speaker.name }}</td>
                                                    <td class="text-center"><button data-sessionid="{{ object.id }}" class="edit_btn edit-speaker-btn"> <img src="{% static 'images/edit_icon.svg' %}" alt="" title="" /></button></td>
                                                    {% comment %}
                                                    {% if forloop.counter == 1 %}
                                                    <td rowspan="11"><button type="button" class="edit_btn" data-toggle="modal" data-target="#exampleModalCenter"> <img src="{% static 'images/edit_icon.svg' %}" alt="" title="" /></button> </td>
                                                    {% endif %}
                                                    {% endcomment %}
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                            {% else %}
                                            <tbody>
                                                <td colspan="7">
                                                    <div class="d-flex align-items-center justify-content-center no-recors-caption">
                                                        <h4>No record found</h4>
                                                    </div>
                                                </td>
                                            </tbody>
                                            {% endif %}
                                        </table>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block extra_content %}
{% include 'popup/add_speaker_popup.html' %}
{% include 'popup/edit_speaker_popup.html' %}
{% endblock extra_content %}