{% extends "layout/admin_base.html" %}
{% load static %}
{% block content %}
<section class="dashboard_area">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-2">
                <div id="sidebar" role="navigation">
                    <ul>
                        <li class="nav-item"><a class="nav-link" href="{% url 'awards:dashboard' %}">dashboard</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'speaker_admin' %}">Speakers</a><li>
                        <li class="nav-item"><a class="nav-link" href="#!">Awards</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Agenda</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="dashboard_right">
                    <div class="speaker_area">
                        <h2>Speaker</h2>
                        <div class="add_newspeak">
                            <button type="button" class="common_btn" data-toggle="modal" data-target="#Addspeaker">Add New Speaker</button>
                        </div>
                        <div class="speaker_table">
                            <table width="100%" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Speaker Image</th>
                                        <th>Speaker Name</th>
                                        <th>Designation</th>
                                        <th>Detail</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in object_list %}
                                    <tr>
                                        <td>{{data.id}}</td>
                                        <td></td>
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.designation }}</td>
                                        <td>{{ data.detail }}</td>
                                        <td class="action_btn">
                                            <a href="#Editspeaker"  data-toggle="modal"><span class="edit_icon"><img src="{% static 'images/pen.png' %}" alt="" title="" /></span></a>

                                            <a href="{% url 'speaker_delete' data.id %}"><span class="delete_icon"><img src="{% static 'images/delete.png' %}" alt="" title="" /></span></a>
                                        </td>
                                        
                                    
                                        {% comment %}
                                        <td><button class="trigger-btn nav-item nav-link" data-toggle="modal" data-target="#Editspeaker"><a href="{% url 'speaker_update' data.id %}"></a></button></td>
                                        {% endcomment %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block extra_content %}
{% include 'popup/add_speaker_popup.html' %}
{% include 'popup/edit_speaker_popup.html' %}
{% endblock extra_content %}