{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ag-Grid Basic Example</title>
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
</head>
<body>
  <div id="myGrid" style="height: 200px; width:500px;" class="ag-theme-alpine"></div>
  {% for key,value in agenda.items %}
    {{key}}<br>
    {{value}}<br>
  {% endfor %}
  {{agenda.items}}
<script type="text/javascript">
// Object.entries(`{{agenda.items}}`).forEach(([k,v]) => {
//     console.log("The key: ", k)
//     console.log("The value: ", v)
// })
  

// for (const [key, value] of Object.entries(`{{agenda.items}}`)) {
//   console.log(value);
// }
// for ( key in Object.entries(`{{agenda.items}}`)) {
//   console.log(key);
// } 
// var agenda =`{{agenda.items}}`

var columnDefs = [
  {headerName: "Make", field: "make"},
  {headerName: "Model", field: "model"},
  {headerName: "Price", field: "price"}
];
    
// specify the data
var rowData = [
  {make: "BMW", model: "Celica", price: 35000},
  {make: "Ford", model: "Mondeo", price: 32000},
  {make: "Porsche", model: "Boxter", price: 72000}
];
    
// let the grid know which columns and what data to use
var gridOptions = {
  columnDefs: columnDefs,
  rowData: rowData
};

// setup the grid after the page has finished loading
document.addEventListener('DOMContentLoaded', function() {
    var gridDiv = document.querySelector('#myGrid');
    new agGrid.Grid(gridDiv, gridOptions);
});
</script>
</body>
</html>