{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
{% endblock extra_css %}

{% block content %}    
    <!-- form area -->
    <section class="appform-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-head"><br>
                        <h1 class="">Energy Swaraj Awards <b>Application Form</b></h1>
                        <h2>Enter registration information</h2>
                        <p><span>*</span> Mandatory fields</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <form class="application-form">
                        <div class="form-group">
                            <label for="">email <span>*</span></label>
                            <input type="email" class="form-control email-input" id="" placeholder="Enter your email">
                        </div>
                        
                    </form>
                    <form>
                        <h4 class="section-bghead pt-3">Section A – Background of the Applicant</h4>
                        <div class="form-group checkbox-section">
                            <p class="mb-3">Type of Work <span>*</span></p>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                <label class="custom-control-label" for="customCheck1">Completed: Application for work already done</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">In Progress: Application for work in progress or is planned in the immediate future</label>
                            </div>
                        </div>
                        <div class="form-group checkbox-section">
                            <p class="mb-3">Are you applying as an individual or organization? <span>*</span></p>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck3" >
                                <label class="custom-control-label" for="customCheck3">Individual</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">Organization</label>
                            </div>
                        </div>
                        <div class="form-group checkbox-section">
                            <p class="mb-3">Nomination Type</p>
                               <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck5" >
                                <label class="custom-control-label" for="customCheck5">Self</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck6">
                                <label class="custom-control-label" for="customCheck6">Nominating Others</label>
                            </div>
                        </div>
                        <div class="row indiviual-register application-form">
                            <div class="col-md-12 mb-4">
                                <h2>Individual Registration</h2>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Full Name <span>*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Enter your name...">
                                </div>
                            </div>
                            <div class="col-md-6">          
                                <div class="form-group">
                                    <label for="">Designation <span>*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Enter your Designation...">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Phone No.* <span>*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Enter your Number...">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Website (If any)</label>
                                    <input type="text" class="form-control" id="" placeholder="Enter website...">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Address*</label>
                                    <textarea class="form-control" placeholder="Enter your Address..."></textarea>
                                </div>
                            </div>  
                        </div>
                        <div class="row indiviual-register application-form">
                            <div class="col-md-12 mb-4">
                                <h2>Organization Registration</h2>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Type of Organization <span>*</span></label>
                                    <select>
                                        <option>Academic Institutions</option>
                                        <option>Government</option>
                                        <option>Corporations</option>
                                        <option>Corporations</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Name of Organization</label>
                                    <input type="text" class="form-control" id="" placeholder="Enter your Organization Name...">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Key Contact Person Full Name <span>*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Enter Contact Person Full Name...">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Key Contact Person Designation<span>*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Enter Contact Person Designation..">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Key Contact Person Email ID<span>*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Enter Contact Person Email ID...">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Key Contact Person Phone No<span>*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Enter Contact Person Phone No...">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Organization’s Registered Address<span>*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Enter Organization’s Registered Address ...">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Organization’s Website<span>*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Enter Organization’s Website...">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h4 class="section-bghead pt-3">Section B – Award related details</h4>
                                <label class="award-detailslabel">How long have you (individual)/ organization been working towards<br> mitigating climate change?Website<span>*</span></label>
                                <textarea class="form-control height-textarea"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="award-detailslabel">What is your interpretation of Avoid-Minimize-Generate Principle? * <br> (not more than 300 words)*</label>
                                <textarea class="form-control height-textarea"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="award-detailslabel">What are the major climate change challenges that you/<br>organization is addressing?*</label>
                                <textarea class="form-control height-textarea"></textarea>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12">
                            <div class="form-group checkbox-section">
                                <p class="mb-3">Nomination Type</p>
                                <div class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input" id="one" >
                                    <label class="custom-control-label" for="one">Only avoid</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input" id="two">
                                    <label class="custom-control-label" for="two">Only minimize</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input" id="three">
                                    <label class="custom-control-label" for="three">Only Generate</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input" id="four">
                                    <label class="custom-control-label" for="four">Avoid and minimize</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input" id="five">
                                    <label class="custom-control-label" for="five">Avoid, Minimize and Generate</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="award-detailslabel">If in Progress, what target has been set?<span>*</span></label>
                            <textarea class="form-control height-textarea"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label class="award-detailslabel">If Completed, what was the target that was set out to be achieved?<span>*</span></label>
                            <textarea class="form-control height-textarea"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label class="award-detailslabel">Please provide a summary of your ongoing or planned intervention.<span>*</span></label>
                            <textarea class="form-control height-textarea"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label class="award-detailslabel">Please provide a summary of the intervention.</label>
                            <textarea class="form-control height-textarea"></textarea>
                            <p class="required-text">As part of the summary please specify the efforts undertaken and the results achieved.<br> * (not more than 500 words)</p>
                        </div>
                        <div class="col-md-12">
                            <label class="award-detailslabel">What are the challenges faced during the intervention?</label>
                            <textarea class="form-control height-textarea"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label class="award-detailslabel">What are the best practices used for the implementing the intervention?</label>
                            <textarea class="form-control height-textarea"></textarea>
                        </div>
                        <div class="col-md-12 attach-filehead">
                            <h3 class="">Please attach the images before applying AMG Principle</h3>
                            <input type="file" id="file" />
                            <label for="file">Choose File</label>
                           <p>User can upload up to 20 files. Each file should be less than 20 MB.</p>
                        </div>
                        <div class="col-md-12 attach-filehead">
                            <h3 class="">Please attach the images before applying AMG Principle</h3>
                            <input type="file" id="file" />
                            <label for="file">Choose File</label>
                            <p>User can upload up to 20 files. Each file should be less than 20 MB.</p>
                        </div>
                        <div class="col-md-12">
                            <div class="button-footer">
                                <div class="float-left d-inline-block">
                                    <button class="btn without-bgbtn">Cancel</button>
                                </div>
                                <div class="float-right d-inline-block">
                                    <button class="btn without-bgbtn">back</button>
                                    <a href="{% url 'awards:thankyou' %}" class="btn with-bgbtn">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- form area end-->
{% endblock content %}