{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}
       <!-- banner -->
       <section class="climate-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="climate_banner">
                              <h2>Win USD 50,000</h2>
                              <h3>for your innovative ideas!</h3>
                              <h3 class="second_head">Call for Solutions</h3>
                              <a href="https://go.shell.com/3RzWjQ8" target="_blank">Apply now</a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="partner_box">
                           <div class="row">
                               <div class="col-md-6">
                                  <div class="parner_logo">
                                      <div class="inner_logo">
                                         <img src="{% static 'images/partner/p_icon.svg' %}" alt="" title="">
                                         <img src="{% static 'images/partner/text.svg'%}" alt="" title="">
                                      </div>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="swaraj_icon">
                                      <img src="{% static 'images/partner/energy.svg'%}" alt="" title="">
                                  </div>
                               </div>
                           </div>
                           <p>In partnership with</p>
                        </div>
                    </div>
                </div>
            </div>
      </section>
   <!-- climate award content -->
    <section class="climate_content">
            <div class="container">
                  <div class="row">
                       <div class="col-md-12">
                           <div class="climate_inner">
                               <h3>Sustainably Powering Lives through <span>Technology</span></h3>
                               <p>The Energy Swaraj Foundation is pleased to partner with Shell GameChanger to support out-of-the-box, innovative ideas to leverage technology that would improve the quality of life for different under-privileged sections of society. Ideas must have global applicability but primarily India as the base. The call for solutions is inspired by the 2030 agenda for sustainable development of the United Nations, which clearly articulates the need for attaining Sustainable Development Goals (SDGs) with a focus on People, Planet, Prosperity, Peace and Partnerships.</p>
                           </div>
                       </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                          <div class="highlight_text climate_inner">
                              <h3>Highlights of the Challenge</h3>
                              <p><span><img src="{% static 'images/amg/check-circle.svg' %}" alt="" title=""></span>Opportunity to earn USD 50,000 in seed funding</p>
                              <p><span><img src="{% static 'images/amg/check-circle.svg' %}" alt="" title=""></span>Support to up to 3 relevant early-stage tech start-ups</p>
                              <p><span><img src="{% static 'images/amg/check-circle.svg' %}" alt="" title=""></span>Promotion of social entrepreneurship</p>
                              <p><span><img src="{% static 'images/amg/check-circle.svg' %}" alt="" title=""></span>In line with 2030 Agenda of SDGs </p>
                              <a href="https://go.shell.com/3RzWjQ8" target="_blank">Apply now</a>
                          </div>
                     </div>
                     <div class="col-md-6">
                          <div class="hightlight_img">
                            <img src="{% static 'images/partner/hightlight_img.png' %}" alt="" title="">
                          </div>
                     </div>
                  </div>
            </div>
    </section>

{% endblock content %}