<div id="deletepopup" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
              <h4>Delete</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form action="" name="form-delete-c" method="post">
                        {% csrf_token %}
                        <p>Are you sure you want to delete ?</p>
                        <button type="submit" style="background-color:red">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
        </div>
    </div>
</div>
