{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <div class="container">
        <h4>E-Book Launch</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/e-book/574A0535-jKJEN6hs.jpeg"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/e-book/574A0537-qYJEN6hs.jpeg"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/e-book/574A0538-NPJEN6hs.jpeg"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/e-book/574A0539-jKJEN6hs.jpeg"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/e-book/574A0542-8pKEN6hs.jpeg"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
{% endblock content %}