{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<!-- banner -->
<section class="banner-section">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <h1>
                        ARE <span>Conference </span><br>
                        and <span>Awards</span>
                    </h1>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <img src="{% static 'images/calendar.svg' %}" alt="" title="" class="mr-2" />
                            24<sup>th</sup> - 25<sup>th</sup> November 2023
                        </li>
                        <!-- <li class="list-inline-item">
                            <img src="{% static 'images/homepage/2.png' %}" alt="" title="" class="mr-2" />
                            AICTE Headquarter, New Delhi
                        </li> -->
                    </ul>
                    <div class="register-area mt-4 mb-3">
                        <a href="https://energyswaraj.org/Registration-Form-for-Academic-Institutions" target="_blank"
                            class="btn  register-nowbtn mr-2" style="pointer-events: none"> Register Now</a>
                        <!-- <a href="https://esf.wildapricot.org/event-5022056" target="_blank" class="btn  register-nowbtn exhibit_btn mr-2"> Exhibit</a>
                        <a href="{% url 'awards:award' %}" class="btn apply-awardbtn"> Apply for Award</a> -->
                        <p>Registration Opens Soon !!</p>
                    </div>
                    <div class="counter_box">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8"></div>
                        </div>
                    </div>
                </div>
                <!-- time first -->
                <div class="intro timer-UI timerfirst">
                    <h5>Time left for the conference</h5>
                    <div class="cd1">
                        <div class="cd__unit-group">
                            <!-- <div class="cd__unit">
                    <div class="cd__digits">
                      <div class="cd__digit" data-col>
                        <div data-pos="next">-</div>
                        <div data-pos="prev">-</div>
                      </div>
                      <div class="cd__digit" data-col>
                        <div data-pos="next">-</div>
                        <div data-pos="prev">-</div>
                      </div>
                    </div>
                    <img src="./images/homepage/slash.svg" />
                    <div class="cd__unit-label">Years</div>
                  </div> -->
                            <div class="cd__unit">
                                <div class="cd__digits">
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                </div>
                                <img src="{% static 'images/homepage/slash.svg' %}" />
                                <div class="cd__unit-label">Days</div>
                            </div>
                        </div>
                        <div class="cd__unit-group">
                            <div class="cd__unit">
                                <div class="cd__digits">
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                </div>
                                <img src="{% static 'images/homepage/slash.svg' %}" />
                                <div class="cd__unit-label">Hours</div>
                            </div>
                            <div class="cd__unit">
                                <div class="cd__digits">
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                </div>
                                <div class="cd__unit-label">Minutes</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- time first end-->
                <!-- time second -->
                <div class="intro timer-UI">
                    <h5>Time left to touch 1.5<sup>o</sup> of global warming</h5>
                    <div class="cd">
                        <div class="cd__unit-group">
                            <div class="cd__unit">
                                <div class="cd__digits">
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                </div>
                                <img src="{% static 'images/homepage/slash.svg' %}" />
                                <div class="cd__unit-label">Years</div>
                            </div>
                            <div class="cd__unit">
                                <div class="cd__digits">
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                </div>
                                <img src="{% static 'images/homepage/slash.svg' %}" />
                                <div class="cd__unit-label">Days</div>
                            </div>
                        </div>
                        <div class="cd__unit-group">
                            <div class="cd__unit">
                                <div class="cd__digits">
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                </div>
                                <img src="{% static 'images/homepage/slash.svg' %}" />
                                <div class="cd__unit-label">Hours</div>
                            </div>
                            <div class="cd__unit">
                                <div class="cd__digits">
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                </div>
                                <img src="{% static 'images/homepage/slash.svg' %}" />
                                <div class="cd__unit-label">Minutes</div>
                            </div>
                            <div class="cd__unit">
                                <div class="cd__digits">
                                    <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div>
                                    <!-- <div class="cd__digit" data-col>
                                        <div data-pos="next">-</div>
                                        <div data-pos="prev">-</div>
                                    </div> -->
                                </div>
                                <div class="cd__unit-label">Seconds</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- time second end-->
            </div>
        </div>
    </div>

    <!-- <div class="blue_box">
        <h3>Number of Seats left : <span>{{ context.remaining_seats }}</span></h3>
    </div> -->
</section>
<!-- banner end -->
<!-- <div class="blueBox">
    <h2>ARE Conference 2023 Coming Soon</h2>
</div> -->

<!-- about start -->
<section class="about_section_area">
    <div class="container">

      <div class="row align-items-center pb-5">
        <div class="col-md-4 order-last order-md-first">
           <img src="{% static 'images/are2023.png' %}" alt="" title="" />
        </div>
        <div class="col-md-8 order-first order-md-last">
            <div class="about_content">
           <h2>ARE Conference 2023</h2>
           <p>The theme of ARE Conference 2023 aims to inspire participants to explore innovative approaches, technologies, and strategies for mitigating climate change and its impacts. It also arises questions Are We Taking Enough Action? - Towards a Resilient Planet and prompts participants to evaluate our current efforts in addressing climate change and environmental challenges.
           </p>
        </div>
        </div>
       
     </div>
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="about_content">
                    <h2><span>ARE</span> Conference 2022</h2>
                    <p>The Energy Swaraj Foundation has launched Action for Restoring the Environment (ARE) – Are we
                        taking enough actions? Conference to encourage quantifiable actions. Actions for Restoring
                        Environment (ARE) Conference, organised in collaboration with All India Council for Technical
                        Education, one-of-its-kind conference, was organised on 24<sup>th</sup> – 25<sup>th</sup> November 2022 at Vasant
                        Kunj, New Delhi. ARE Conference comes as a timely action to bring concerted actions by
                        stakeholders from various walks of life to take consolidated action to mitigate climate change,
                        amidst inconclusive and mixed outcomes of COP27.
                    </p>
                    <p>The conference saw 8 intensive sessions - each representing one sector of the society followed by
                        the Energy Swaraj Awards which applauded the exemplary efforts by individuals to mitigate
                        climate change, With 21 Partners and over 40+ speakers on-board, the ARE Conference engaged 350+
                        lives who attended the conference physically and many more who watched the conference in the
                        online mode.</p>
                    <p>The purpose of the ARE conference was to ask tough questions to everyone that ARE we taking
                        enough actions? All the speakers in the sessions conducted so far have been more or less
                        unanimous in accepting that No, we are NOT taking enough action.
                    </p>

                </div>
            </div>
            <div class="col-md-5">
                <div class="about_img">
                    <img src="{% static 'images/homepage/about_img.png' %}" alt="" title="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about close -->

<!-- start Highlights -->
<section class="Highlight_secArea">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 second">
                <div class="about_img">
                    <img src="{% static 'images/hightlight.png' %}" alt="" title="" />
                </div>
            </div>
            <div class="col-md-7 first">
                <div class="textHighlight">
                    <h2>Highlights of the <br /><b>Conference & Awards</b></h2>
                    <ul>
                        <li>The conference also saw a special message from Honorable Prime Minister Shri. Narendra
                            ModiJi congratulating Prof. Chetan Singh Solanki, Team of Energy Swaraj Foundation and AICTE
                            on taking forward the climate discussions</li>
                        <li>40+ eminent leaders from the industry, government, academia, spiritual, media and the youth
                            in one platform to deliberate on the climate corrective actions which are required on a
                            drastic and immediate basis.</li>
                        <li>The 200kgs sacks were an eye-opener for the speakers and audiences alike to understand and
                            create awareness on the carbon dioxide (CO<sub>2</sub>) emitted per capita per month.</li>
                        <li>Climate Clock showing the time left for reach 1.5 degree Celsius of global warming was
                            unveiled, which was then referred in all panel discussions</li>
                        <li>Atal innovation mission of NITI Aayog, GoI announced that over 10000 climate clocks will be
                            assembled across the Atal Tinkering Labs across the country on 24<sup>th</sup> April 2023 in
                            collaboration with Energy Swaraj Foundation.
                        </li>
                        <li>Winners of Shell GameChanger, AMG Challenge and Climate Hackathon challenge with prize money
                            of about Rs 1.75 Crore were announced.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- close Highlights -->
<section class="AreconferenceReport">
      <h2>ARE Conference Report</h2>
      <a href="{%static 'images/AREConferenceReport.pdf' %}" target="_blank">Download</a>
 
</section>

<!-- session summary start -->
<section class="session_summaryArea">
    <div class="container">
        <div class="summary_text">
            <h2>Session-wise summary</h2>
            <p>There were 8 intensive sessions in the <b>Action for Restoring Environment(ARE) Conference</b> - each representing one particular sector of the society followed by the <b>Energy Swaraj Awards</b> which applauded the exemplary efforts by individuals to mitigate climate change.</p>
            <p>The purpose of the ARE conference was to ask tough questions to everyone that <b>ARE we taking enough actions?</b> All the speakers in the sessions conducted so far have been more or less unanimous in accepting that <b>No, we are NOT taking enough action.</b> </p>

            <a href="{% url 'awards:session_detail' %}">Read More</a>
        </div>
    </div>
</section>
<!-- session summary close -->

<!-- Our number start -->
<section class="OurNumber_area">
    <div class="container">
        <div class="OurNumber_inner">
            <h2>Our numbers</h2>
            <h3>We are super proud of our numbers</h3>
        </div>
        <div class="NumberOuter">
            <div class="row">

                <div class="col-12 col-sm-6">
                    <div class="NumberBox">
                        <h3>20+</h3>
                        <h4>Our Partners</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="NumberBox">
                        <h3>45+</h3>
                        <h4>Our Speakers</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="NumberBox">
                        <h3>300+</h3>
                        <h4>ARE Conference Participants</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="NumberBox">
                        <h3>20+</h3>
                        <h4>Awardees Winning</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="NumberBox">
                        <h3>3.50 Lac</h3>
                        <h4>Award Money</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our number close -->

<!-- downlod section start -->
<section class="download_area">
    <div class="container">
        <h2>Ways Academic Institutions Invest in Our Planet?</h2>
        <a href="{%static 'images/WaysAcademicInstitutionsInvestOurPlanet.pdf' %}" target="_blank">
            <!-- <span class="whiteicon"><img src="{% static 'images/download.svg' %}" alt=""
                    title=""></span> <span class="blackicon"> 
                        <img src="{%static 'images/blakdownloas.svg' %}" alt=""
                    title="">-->
                </span>Download</a>

    </div>
</section>
<!-- downlod section close -->

{% endblock content %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const uec = new UnixEpochalypseCountdown(".cd");
        const infoBtn = document.getElementById("info-btn");

        if (infoBtn) infoBtn.addEventListener("click", jumpToHelp);
    });

    function jumpToHelp() {
        const info = document.getElementById("info");

        if (info) {
            window.scrollTo({
                top: info.offsetTop,
                left: 0,
                behavior: "smooth",
            });
        }
    }

    class UnixEpochalypseCountdown {
        constructor(qs) {
            this.el = document.querySelector(qs);
            this.time = [];
            this.animTimeout = null;
            this.updateTimeout = null;
            this.update();
        }
        getProgressInSeconds() {
            if (typeof moment === "function") {
                const now = moment();
                const ms = Math.ceil(now.valueOf() / 1e3);

                return ms >> 0;
            } else {
                return 0;
            }
        }
        getTimeLeft() {
            let timeLeft = {
                y: 0,
                d: 0,
                h: 0,
                m: 0,
                s: 0,
            };

            if (typeof moment === "function") {
                moment.locale();
                const later = moment(new Date("2029-07-22T16:00:00+00:00"));
                const now = moment();
                const diff = moment.duration(later.diff(now));
                const moment_diff = moment(later.diff(now));
                const days = moment_diff.dayOfYear() - 2;

                if (diff.valueOf() >= 0) {
                    timeLeft.y += diff.years();
                    timeLeft.d += days;
                    timeLeft.h += diff.hours();
                    timeLeft.m += diff.minutes();
                    timeLeft.s += diff.seconds();
                }
            }
            return timeLeft;
        }
        clearAnimations() {
            if (this.el) {
                const colAnimsToClear = this.el.querySelectorAll("[data-col]");

                Array.from(colAnimsToClear).forEach((a) => {
                    a.classList.remove("cd__digit--roll-in");
                });

                const posAnimsToClear = this.el.querySelectorAll("[data-pos]");

                Array.from(posAnimsToClear).forEach((a) => {
                    a.classList.remove("cd__next-digit-fade", "cd__prev-digit-fade");
                });
            }
        }
        update(doAnimations = false) {
            let f = false;
            // start with all dashes
            if (!this.time.length) {
                let digitCount = 12;

                while (digitCount--) this.time.push("-");
            }
            // update data
            const display = this.getTimeLeft();
            if (display.d < 100) {
                f = true;
            }
            const displayDigits = [];

            for (let v in display) {
                const digits = `${display[v]}`.split("");
                // add zero to single digits
                if (digits.length < 2) digits.unshift("0");

                displayDigits.push(...digits);
            }
            // update display
            const cols = this.el.querySelectorAll("[data-col]");

            if (cols) {
                Array.from(cols).forEach((c, i) => {
                    const digit = displayDigits[i];

                    if (digit !== this.time[i]) {
                        const next = c.querySelector(`[data-pos="next"]`);
                        const prev = c.querySelector(`[data-pos="prev"]`);

                        if (doAnimations === true) {
                            c.classList.add("cd__digit--roll-in");
                            next.classList.add("cd__next-digit-fade");
                            prev.classList.add("cd__prev-digit-fade");
                        }

                        next.innerHTML = digit;
                        prev.innerHTML = this.time[i];
                    }
                });
            }

            this.time = displayDigits;
            // progress in seconds
            const progress = this.el.querySelector("[data-progress]");

            if (progress) progress.innerHTML = this.getProgressInSeconds();
            // loop
            clearTimeout(this.animTimeout);
            this.animTimeout = setTimeout(this.clearAnimations.bind(this), 500);

            clearTimeout(this.updateTimeout);
            this.updateTimeout = setTimeout(this.update.bind(this, true), 1e3);
        }
    }
</script>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const uec = new UnixEpochalypseCountdown1(".cd1");
        const infoBtn = document.getElementById("info-btn");

        if (infoBtn) infoBtn.addEventListener("click", jumpToHelp);
    });

    function jumpToHelp() {
        const info = document.getElementById("info");

        if (info) {
            window.scrollTo({
                top: info.offsetTop,
                left: 0,
                behavior: "smooth",
            });
        }
    }

    class UnixEpochalypseCountdown1 {
        constructor(qs) {
            this.el = document.querySelector(qs);
            this.time = [];
            this.animTimeout = null;
            this.updateTimeout = null;
            this.update();
        }
        getProgressInSeconds() {
            if (typeof moment === "function") {
                const now = moment();
                const ms = Math.ceil(now.valueOf() / 1e3);

                return ms >> 0;
            } else {
                return 0;
            }
        }
        getTimeLeft() {
            let timeLeft = {
                // y: 0,
                d: 0,
                h: 0,
                m: 0,
                // s: 0,
            };

            if (typeof moment === "function") {
                moment.locale();
                const later = moment(new Date("2022-11-23T09:00:00"));
                const now = moment();
                const diff = moment.duration(later.diff(now));
                const moment_diff = moment(later.diff(now));
                const days = moment_diff.dayOfYear() - 2;

                if (diff.valueOf() >= 0) {
                    //   timeLeft.y += diff.years();
                    //   timeLeft.mo += diff.months();
                    timeLeft.d += days;
                    timeLeft.h += diff.hours();
                    timeLeft.m += diff.minutes();
                    //   timeLeft.s += diff.seconds();
                }
            }

            return timeLeft;
        }
        clearAnimations() {
            if (this.el) {
                const colAnimsToClear = this.el.querySelectorAll("[data-col]");

                Array.from(colAnimsToClear).forEach((a) => {
                    a.classList.remove("cd__digit--roll-in");
                });

                const posAnimsToClear = this.el.querySelectorAll("[data-pos]");

                Array.from(posAnimsToClear).forEach((a) => {
                    a.classList.remove("cd__next-digit-fade", "cd__prev-digit-fade");
                });
            }
        }
        update(doAnimations = false) {
            // start with all dashes
            if (!this.time.length) {
                let digitCount = 12;

                while (digitCount--) this.time.push("-");
            }
            // update data
            const display = this.getTimeLeft();
            const displayDigits = [];

            for (let v in display) {
                const digits = `${display[v]}`.split("");
                // add zero to single digits
                if (digits.length < 2) digits.unshift("0");

                displayDigits.push(...digits);
            }
            // update display
            const cols = this.el.querySelectorAll("[data-col]");

            if (cols) {
                Array.from(cols).forEach((c, i) => {
                    const digit = displayDigits[i];

                    if (digit !== this.time[i]) {
                        const next = c.querySelector(`[data-pos="next"]`);
                        const prev = c.querySelector(`[data-pos="prev"]`);

                        if (doAnimations === true) {
                            c.classList.add("cd__digit--roll-in");
                            next.classList.add("cd__next-digit-fade");
                            prev.classList.add("cd__prev-digit-fade");
                        }

                        next.innerHTML = digit;
                        prev.innerHTML = this.time[i];
                    }
                });
            }

            this.time = displayDigits;
            // progress in seconds
            const progress = this.el.querySelector("[data-progress]");

            if (progress) progress.innerHTML = this.getProgressInSeconds();
            // loop
            clearTimeout(this.animTimeout);
            this.animTimeout = setTimeout(this.clearAnimations.bind(this), 500);

            clearTimeout(this.updateTimeout);
            this.updateTimeout = setTimeout(this.update.bind(this, true), 1e3);
        }
    }
</script>
<script>
    $('#owl-carousel').owlCarousel({
        loop: true,
        margin: 30,
        dots: true,
        nav: true,
        autoplay: true,
        items: 1,
    })

    // window.addEventListener("DOMContentLoaded", () => {
    //     const uec = new UnixEpochalypseCountdown1(".cd1");
    //     const infoBtn = document.getElementById("info-btn");

    //     if (infoBtn)
    //         infoBtn.addEventListener("click", jumpToHelp);
    // });

    // function jumpToHelp() {
    //     const info = document.getElementById("info");

    //     if (info) {
    //         window.scrollTo({
    //             top: info.offsetTop,
    //             left: 0,
    //             behavior: "smooth"
    //         });
    //     }
    // }

    // class UnixEpochalypseCountdown1 {
    //     constructor(qs) {
    //         this.el = document.querySelector(qs);
    //         this.time = [];
    //         this.animTimeout = null;
    //         this.updateTimeout = null;
    //         this.update();
    //     }
    //     getProgressInSeconds() {
    //         if (typeof moment === "function") {
    //             const now = moment();
    //             const ms = Math.ceil(now.valueOf() / 1e3);

    //             return ms >> 0;
    //         } else {
    //             return 0;
    //         }
    //     }
    //     getTimeLeft() {
    //         let timeLeft = {
    //             y: 0,
    //             d: 0,
    //             h: 0,
    //             m: 0,
    //             s: 0
    //         };

    //         if (typeof moment === "function") {
    //             const later = moment((2 ** 31 - 1) * 1e3);
    //             const now = moment();
    //             const diff = moment.duration(later.diff(now));

    //             if (diff.valueOf() >= 0) {
    //                 timeLeft.y += diff.years();
    //                 timeLeft.mo += diff.months();
    //                 timeLeft.d += diff.days();
    //                 timeLeft.h += diff.hours();
    //                 timeLeft.m += diff.minutes();
    //                 timeLeft.s += diff.seconds();
    //             }
    //         }

    //         return timeLeft;
    //     }
    //     clearAnimations() {
    //         if (this.el) {
    //             const colAnimsToClear = this.el.querySelectorAll("[data-col]");

    //             Array.from(colAnimsToClear).forEach(a => {
    //                 a.classList.remove("cd__digit--roll-in");
    //             });

    //             const posAnimsToClear = this.el.querySelectorAll("[data-pos]");

    //             Array.from(posAnimsToClear).forEach(a => {
    //                 a.classList.remove("cd__next-digit-fade", "cd__prev-digit-fade");
    //             });
    //         }
    //     }
    //     update(doAnimations = false) {
    //         // start with all dashes
    //         if (!this.time.length) {
    //             let digitCount = 12;

    //             while (digitCount--)
    //                 this.time.push("-");
    //         }
    //         // update data
    //         const display = this.getTimeLeft();
    //         const displayDigits = [];

    //         for (let v in display) {
    //             const digits = `${display[v]}`.split("");
    //             // add zero to single digits
    //             if (digits.length < 2)
    //                 digits.unshift("0");

    //             displayDigits.push(...digits);
    //         }
    //         // update display
    //         const cols = this.el.querySelectorAll("[data-col]");

    //         if (cols) {
    //             Array.from(cols).forEach((c, i) => {
    //                 const digit = displayDigits[i];

    //                 if (digit !== this.time[i]) {
    //                     const next = c.querySelector(`[data-pos="next"]`);
    //                     const prev = c.querySelector(`[data-pos="prev"]`);

    //                     if (doAnimations === true) {
    //                         c.classList.add("cd__digit--roll-in");
    //                         next.classList.add("cd__next-digit-fade");
    //                         prev.classList.add("cd__prev-digit-fade");
    //                     }

    //                     next.innerHTML = digit;
    //                     prev.innerHTML = this.time[i];
    //                 }
    //             });
    //         }

    //         this.time = displayDigits;
    //         // progress in seconds
    //         const progress = this.el.querySelector("[data-progress]");

    //         if (progress)
    //             progress.innerHTML = this.getProgressInSeconds();
    //         // loop
    //         clearTimeout(this.animTimeout);
    //         this.animTimeout = setTimeout(this.clearAnimations.bind(this), 500);

    //         clearTimeout(this.updateTimeout);
    //         this.updateTimeout = setTimeout(this.update.bind(this, true), 1e3);
    //     }
    // }
</script>
{% endblock extra_js %}