{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <div class="container">
        <h4>ARE Conference Inauguration</h4>
        <div class="row">
            <div class="col-md-3">
               
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="{% static 'images/Media1.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="{% static 'images/Media2.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="{% static 'images/Media3.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="{% static 'images/Media4.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}