{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>

<section class="mediagalleryimg">
 
    <div class="container">
        <h4>ARE Conference Inauguration</h4>
        <div class="row">
            <div class="col-md-3">
               
                <div class="mediaOuter">
                    <div class="ImgBoxMedia">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Inauguration/574A0008-u3IzN6hs.JPG" alt="" title="" class="" />
                        <div class="idMyModal modal">
                            <span class="close">&times;</span>
                            <img class="modal-content">
                          </div>
                    </div>
                </div>
            
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Inauguration/574A0014-idIzN6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Inauguration/574A0032-EYIzN6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Inauguration/574A0020-amIzN6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Inauguration/574A0030-99IzN6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Inauguration/574A0019__1_-d1IzN6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}