{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <div class="container">
        <h2>Media</h2>
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'awards:media-img' %}">
                    <div class="mediaOuter">
                        <div class="ImgBoxMedia2"><img src="{% static 'images/mainmeda.png' %}" alt="" title="" class="" />
                        </div>
                        <div class="textOverlay">
                            <h3>View Images</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
         
                <a href="#">
                    <div class="mediaOuter">
                        <div class="ImgBoxMedia2"><img src="{% static 'images/videoimg.png' %}" alt="" title="" class="" />
                        </div>
                        <div class="textOverlay">
                            <h3>View Video</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}