{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<section id="gallery" class="gallery">
    <div class="side horizontal flip-outer">
        <div id="1" class="flip-inner">
            <div class="flip">
                <div class="front">
                    <img src="{% static 'images/mediabanner1.svg' %}" alt="" title="" class="" />

                </div>
                <div class="back">
                    <img src="{% static 'images/flip1.png' %}" alt="" title="" class="" />
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="vertical top flip-outer">
            <div id="2" class="flip-inner">
                <div class="flip">
                    <div class="front">
                        <img src="{% static 'images/verimg.svg' %}" alt="" title="" class="" />

                    </div>
                    <div class="back">
                        <img src="{% static 'images/flip2.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal top flip-outer">
            <div id="3" class="flip-inner">

                <div class="flip">
                    <div class="front">
                        <img src="{% static 'images/himg.svg' %}" alt="" title="" class="" />

                    </div>
                    <div class="back">
                        <img src="{% static 'images/flip3.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal bottom flip-outer">
            <div id="4" class="flip-inner">
                <div class="flip">
                    <div class="front">
                        <img src="{% static 'images/b4.png' %}" alt="" title="" class="" />

                    </div>
                    <div class="back">
                        <img src="{% static 'images/flip4.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical bottom flip-outer">
            <div id="5" class="flip-inner">
                <div class="flip">
                    <div class="front">
                        <img src="{% static 'images/b5.png' %}" alt="" title="" class="" />

                    </div>
                    <div class="back">
                        <img src="{% static 'images/flip5.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="side horizontal flip-outer">
        <div id="6" class="flip-inner">
            <div class="flip">
                <div class="front">
                    <img src="{% static 'images/b6.png' %}" alt="" title="" class="" />

                </div>
                <div class="back">
                    <img src="{% static 'images/flip6.png' %}" alt="" title="" class="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mediagalleryimg">
    <div class="container">
        <h4>ARE Conference Inauguration</h4>
        <div class="row">
            <div class="col-md-3">
               
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="{% static 'images/Media1.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="{% static 'images/Media2.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="{% static 'images/Media3.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="{% static 'images/Media4.png' %}" alt="" title="" class="" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}