{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}
<!-- banner -->
<div class="black_box"></div>
<section class="partner-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="our-partnerhead">
                    <h2>Become ARE Conference<br /> <span>Partner 2023</span></h2>
                    <a href="{% url 'awards:partner_register' %}" >Register Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner end -->
<!-- content start -->
<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="partner-content">
                    <h2>ARE Conference Partner 2022</h2>
                    <p>Mitigating climate change requires creating a public movement for collective action. To create a
                        public movement, one individual or an organisation is not enough. Everyone should come to one
                        platform to synchronise their energies for mitigating climate change. We are really thankful to
                        our partners in endeavor who are supporting us in creating this public movement to tackle the
                        climate crisis.</p>
                </div>
            </div>
            {% if data %}
                {% for report in data %}
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="partner-card">
                            <img src="{{report.org_image.url}}" alt="" title="" class="" />
                            <h3>{{report.org_name}}</h3>
                            <p></p>
                            <!-- <a href="">View More</a>' %}' %}' %} -->
                        </div>
                    </div>
                {% endfor %}
            {% endif %}    
        </div>
        
    </div>
</section>
<section class="becomePartnerArea">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="insteadBecomeText">
                    <h2>Interested to Become Partner for ARE Conference?</h2>
                    <p>Mitigating climate change requires creating a public movement for collective action. To create a
                        public movement, one individual or an organisation is not enough. Everyone should come to one
                        platform to synchronise their energies for mitigating climate change. We are really thankful to
                        our partners in endeavour who are supporting us in creating this public movement to tackle the
                        climate crisis.</p>

                    <p>If you are interested in becoming a partner for one-of-its-kind Action for Restoring Environment
                        (ARE) Conference and Energy Swaraj Awards held on 24-25 November 2023.</p>
                  
                    <a href="{% url 'awards:register' %}">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- content end -->
{% endblock content %}