{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}
    <!-- banner -->
    <section class="partner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="our-partnerhead">
                    <h1>
                        our 
                    </h1>
                    <p>Partners</p>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner end -->
    <!-- content start -->
    <section class="content-section pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="partner-content pb-5">
                    <h2>Mitigating climate change requires creating a public movement for collective action. To create a public movement, one individual or an organisation is not enough. Everyone should come to one platform to synchronise their energies for mitigating climate change. We are really thankful to our partners in endeavor who are supporting us in creating 
                        this public movement to tackle the climate crisis.</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/1.png' %}" alt="" title="" class=""/>
                        <h3>International Solar Alliance</h3>
                        <p>The International Solar Alliance (ISA) is an action-oriented, member-driven United Nations body. It is a collaborative platform for increased deployment of solar energy technologies as a means for bringing energy access, ensuring energy security, and driving energy transition in its member countries. The ISA strives to develop and deploy cost-effective and transformational energy solutions powered by the sun to help member countries develop low-carbon growth trajectories. </p>
                        <!-- <a href="">View More</a>' %}' %}' %} -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/2.png' %}" alt="" title="" class=""/>
                        <h3>Niti Aayog</h3>
                        <p>The NITI Aayog serves as the apex public policy think tank of the Government of India, and the nodal agency tasked with catalysing economic development and fostering cooperative federalism through the involvement of State Governments of India in the economic policy-making process. NITI Aayog is developing itself as a state-of-the-art resource centre with the necessary knowledge and skills that will enable it to act with speed, and promote research and innovation.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/3.png' %}" alt="" title="" class=""/>
                        <h3>Ministry of Environment, Forests and Climate Change</h3>
                        <p>The Ministry of Environment, Forest and Climate Change (MoEFCC) is the nodal agency in the administrative structure of the Central Government for the planning, promotion, coordination, and overseeing of the implementation of India’s environmental and forestry policies and programs. Ministry defines its broad objectives as being Conservation and survey of flora, fauna, forests, and wildlife; Prevention and control of pollution; Afforestation and regeneration of degraded areas; Protection of the environment and Ensuring the welfare of animals</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/4.png' %}" alt="" title="" class=""/>
                        <h3>Ministry of New and Renewable Energy</h3>
                        <p>The Ministry of New and Renewable Energy (MNRE) is the nodal Ministry of the Government of India for all matters relating to new and renewable energy. The broad aim of the Ministry is to develop and deploy new and renewable energy to supplement the energy requirements of the country. The mission of the Ministry is to ensure Energy security, availability, access, affordability, and equity.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/5.png' %}" alt="" title="" class=""/>
                        <h3>The Climate Group</h3>
                        <p>he Climate Group is a non-profit organisation that works with businesses and government leaders around the world to address climate change. This group has programs focusing on renewable energy and reducing greenhouse gas emissions. Its goal is to have a world of net-zero carbon emissions by 2050, with greater prosperity for all. The Climate group aims to achieve this goal by helping organisations make commitments and building and running networks to unlock the power of collective action.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/6.png' %}" alt="" title="" class=""/>
                        <h3>The Energy and Resource Institute</h3>
                        <p>The Energy and Resources Institute is a research institute in New Delhi that specialises in the fields of energy, environment, and sustainable development. TERI’s mission is to usher transitions to a cleaner and sustainable future through the conservation and efficient use of energy and other resources, and innovative ways of minimising and reusing waste. </p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/7.png' %}" alt="" title="" class=""/>
                        <h3>Council on Energy, Environment, and Water</h3>
                        <p>The Council on Energy, Environment, and Water is one of Asia’s leading not-for-profit policy research institutions. CEEW was formed to provide independent research-based insights to policymakers for building a sustainable India. CEEW uses data, integrated analysis, and strategic outreach to explain – and change – the use, reuse, and misuse of resources.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/8.png' %}" alt="" title="" class=""/>
                        <h3>CLEAN Network</h3>
                        <p>CLEAN is a non-profit organisation, committed to supporting, unifying, and growing the clean energy enterprises in India. Our primary focus is on rural and underprivileged communities where reliable, affordable, and clean energy plays a unique role in accelerating social, environmental, and economic development.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/9.png' %}" alt="" title="" class=""/>
                        <h3>National Institute of Solar Energy</h3>
                        <p>NISE is an autonomous institute under the Ministry of New and Renewable Energy, Government of India established to facilitate the Research & Development, Testing, Certification, and Skill Development activities in the field of Solar energy technologies. NISE also supports the ministry in the implementation of the prestigious National Solar mission. The institute is committed to the development and demonstration of solar energy-related technologies and their applications to the common man in the country. NISE continuously strives to improve its facilities so as to compete with the latest technological advancements.
                        </p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/10.png' %}" alt="" title="" class=""/>
                        <h3>Greenpeace India</h3>
                        <p>Greenpeace India is the Indian branch of the global environmental group Greenpeace, a non-profit NGO, with a presence in 55 countries across Europe, America, and Asia. In addition, it is supported by a national network of Indian volunteers as well as 7.5 lakh online and 19 lakh mobile activists. Over the years, this team has helped us inspire more than 3,00,000 individual supporters to join our mission and help us stay financially stable and independent. </p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/11.png' %}" alt="" title="" class=""/>
                        <h3>Earth Day network</h3>
                        <p>EARTHDAY.ORG’s mission is to diversify, educate and activate the environmental movement worldwide. Growing out of the first Earth Day in 1970, EARTHDAY.ORG is the world’s largest recruiter of the environmental movement, working with more than 150,000 partners in over 192 countries to drive positive action for our planet. The Earth Day Network India Trust was launched in 2010 to conduct programs to reach out to varied demographic profiles across the length and breadth of the country—from those at the grassroots to policymakers. </p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/12.png' %}" alt="" title="" class=""/>
                        <h3>The India Climate Collaborative</h3>
                        <p>The India Climate Collaborative is a living system. They leverage the strength of our network, spanning across government, business, philanthropy, academia, and civil society, to overcome the greatest crisis facing our world and our country today: climate change. They convene stakeholders across disciplines to design, finance and implement path-breaking climate solutions. They aim to inspire, connect, and empower institutions, individuals, and communities to rise to India's climate challenge.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/13.png' %}" alt="" title="" class=""/>
                        <h3>Indo-German Energy Forum (IGEF)</h3>
                        <p>Since its establishment in 2006, the Indo-German Energy Forum has successfully intensified Indo-German Cooperation in the areas of energy security, energy efficiency, and renewable energies, investment in energy projects as well as collaborative research and development. IGEF is intensifying and deepening Indo-German cooperation between government, research institutions, and the private sector.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/14.png' %}" alt="" title="" class=""/>
                        <h3>CSIR- NEERI</h3>
                        <p>The CSIR-National Environmental Engineering Research Institute (CSIR-NEERI) is a research institute created and funded by the Government of India. It was established in Nagpur in 1958 with a focus on water supply, sewage disposal, communicable diseases, and to some extent on industrial pollution and occupational diseases found common in post-independent India. NEERI is a pioneer laboratory in the field of environmental science and engineering and is a constituent laboratory of the Council of Scientific and Industrial Research (CSIR).
                        </p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/15.png' %}" alt="" title="" class=""/>
                        <h3>Indian Youth Climate Network</h3>
                        <p>IYCN was founded in 2008 as a coalition of young people & youth-oriented organizations to take action on climate change. The purpose of IYCN is to bring the voice of Indian youth to the global platform as South Asia is one of the most vulnerable regions affected by potentially catastrophic climate change and environmental issues.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/16.png' %}" alt="" title="" class=""/>
                        <h3>ISKCON</h3>
                        <p>International Society for Krishna Consciousness, also popularly known as the Hare Krishna movement is a spiritual society founded by His Divine Grace A.C. Bhaktivedanta Swami Prabhupada in July 1966 in New York. ISKCON belongs to the Gaudiya-Vaishnava sampradaya, a monotheistic tradition within Vedic culture. The aim of ISKCON is to acquaint all people of the world with universal principles of self-realization and God-consciousness so that they may derive the highest benefit of spiritual understanding, unity, and peace.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/17.png' %}" alt="" title="" class=""/>
                        <h3>Associated Chambers of Commerce and Industry</h3>
                        <p>The Associated Chambers of Commerce & Industry of India (ASSOCHAM) is the country's oldest apex chamber. It brings in actionable insights to strengthen the Indian ecosystem, leveraging its network of more than 4,50,000 members, of which MSMEs represent a large segment.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/18.png' %}" alt="" title="" class=""/>
                        <h3>United Religious Initiative</h3>
                        <p>URI (United Religions Initiative) is a global grassroots interfaith network that cultivates peace and justice by engaging people to bridge religious and cultural differences and work together for the good of their communities and the world. URI Cooperation Circles combine interreligious bridge-building with community-based actions that address the causes of conflict.
                        </p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/19.png' %}" alt="" title="" class=""/>
                        <h3>Technology Informatics Design Endeavour (TIDE)</h3>
                        <p>In its 28-year journey, TIDE has been promoting sustainable development through innovative technological interventions. Since its inception, we have developed/adapted and transferred technology options like improved cookstoves, biogas, biomass gasification, biomass briquetting, and energy audits.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/partner/brahm_logo.png' %}" alt="" title="" class=""/>
                        <h3>Brahma Kumaris</h3>
                        <p>Brahma Kumaris is a worldwide spiritual movement dedicated to personal transformation and world renewal. Founded in India in 1937, Brahma  Kumaris has spread to over 110 countries on all continents and has had an extensive impact in many sectors as an international NGO. However, their real commitment is to helping individuals transform their perspective of the world from material to spiritual.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/homepage/aicte-logo.png' %}" alt="" title="" class=""/>
                        <h3>All India Council for Technical Education (AICTE)</h3>
                        <p>All India Council for Technical Education (AICTE) was set up in November 1945 as a national-level Apex Advisory Body to conduct a survey on the facilities available for technical education and to promote development in the country in a coordinated and integrated manner. Its main objectives include the Promotion of Quality in Technical Education, Planning and Coordinated Development of Technical Education systems and Regulations, and Maintenance of Norms and Standards. <b>The ARE Conference is jointly organized with AICTE.</b></p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/basic.png' %}" alt="" title="" class=""/>
                        <h3>BASIC Asso</h3>
                        <p>BASIC stands for Bridge Association for Social Initiatives aiming ‘Change,’ and it works towards supporting social initiatives in achieving their stipulated objectives by developing strategies, execution models, and implementation systems for them with result-oriented designs. It is a bridge organisation that supports initiatives aimed at mitigating global challenges and providing a solution to human-induced challenges. BASIC works towards collective action by steering multiple global players of change into a concerning direction through its wider network with world organizations, inter-faith influencers, and NGOs. It is outreach partner for ARE Conference and Awards.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="partner-card">
                        <img src="{% static 'images/icctl_logo.jpg' %}" alt="" title="" class=""/>
                        <h3>The International Council on Clean Transportation (ICCT) </h3>
                        <p>The International Council on Clean Transportation (ICCT) is an independent nonprofit organization with having global presence across continents. ICCT’s main vision is to decarbonize the global transportation sector. It provides technical and scientific analysis to environmental regulators.</p>
                        <!-- <a href="">View More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- content end -->
{% endblock content %}
