{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock extra_css %}


{% block content %}
<section class="registerArea">
    <div class="registerBanner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Registration Form</h2>
                    <p>Enter your details below to Registration</p>
                </div>
            </div>
        </div>
    </div>
    <div class="formBox">
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email Id<span>*</span></label>
                            <input type="email" class="form-control" placeholder="Enter your email id...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Phone number<span>*</span></label>
                            <input type="number" class="form-control" placeholder="Enter your phone number...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name of the organization<span>*</span></label>
                            <input type="text" class="form-control" placeholder="Enter organization name...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Type of organization<span>*</span></label>
                            <div class="downArrow">
                                  <select>
                                     <option>Academic</option>
                                     <option>Government</option>
                                     <option>Corporate</option>
                                     <option>NGO</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password<span>*</span></label>
                            <input id="password-field" type="password" class="form-control" name="password"  placeholder="Enter password..." >
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Confirm password<span>*</span></label>
                            <input id="password-field2" type="password" class="form-control" name="password"  placeholder="Enter confirm password..." >
                            <span toggle="#password-field2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name of the co-ordinator<span>*</span></label>
                            <input type="text" class="form-control" placeholder="Enter co-ordinator name...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Designation<span>*</span></label>
                            <input type="text" class="form-control" placeholder="Enter designation name...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Upload logo of organization<span>*</span></label>
                            <input type="file" class="form-control" placeholder="Upload logo of organization">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Pin code<span>*</span></label>
                            <input type="number" class="form-control" placeholder="Enter pin code...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">State<span>*</span></label>
                            <input type="number" class="form-control" placeholder="Enter state name...">
                           
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">City<span>*</span></label>
                            <input type="number" class="form-control" placeholder="Enter city name...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">District<span>*</span></label>
                            <input type="number" class="form-control" placeholder="Enter district name...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Country<span>*</span></label>
                            <input type="number" class="form-control" placeholder="Enter country name...">
                        </div>
                    </div>
                </div>
                <Box class="RegisterBtn"><button>Register</button></Box>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
{% block extra_js %}
<script>
$(".toggle-password").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
  });
</script>
  {% endblock extra_js %}