{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}
<section class="sessionSummary">

</section>
<!-- banner close -->
<section class="sessionDetail">

   <div class="container">
      <div class="row">


         <div class="col-sm-12">
            <div class="headingSession">
               <h2>Session-wise summary</h2>
            </div>
            <div class="row">
               <div class="col-sm-3">
                  <ul class="nav nav-tabs tabs-left sideways">
                     <li><a href="#Session1" data-toggle="tab" class="active">Session 1</a></li>
                     <li><a href="#Session2" data-toggle="tab">Session 2</a></li>
                     <li><a href="#Session3" data-toggle="tab">Session 3</a></li>
                     <li><a href="#Session4" data-toggle="tab">Session 4</a></li>
                     <li><a href="#Session5" data-toggle="tab">Session 5</a></li>
                     <li><a href="#Session6" data-toggle="tab">Session 6</a></li>
                     <li><a href="#Session7" data-toggle="tab">Session 7</a></li>
                     <li><a href="#Session8" data-toggle="tab">Session 8</a></li>
                  </ul>
                  <!-- Nav tabs -->
               </div>
               <div class="col-sm-9">
                  <!-- Tab panes -->
                  <div class="tab-content">
                     <div class="tab-pane active" id="Session1">
                        <div class="row align-items-center">
                           <div class="col-sm-8">
                              <div class="sessignBox">
                                 <h2>Session 1: Inauguration of the ARE conference and awards</h2>
                                 <p>The inaugural session was started on the note that Planet Earth has the most evolved
                                    species. Air,
                                    Water, Soil, Forest, important elements of nature and for human and other species
                                    survival, are
                                    getting polluted due to human activities. </p>
                                 <p>One has to adopt green solutions. As stated by Anurag Sharma, Director offshore (ONGC),
                                    many renewable
                                    solution implementations have been innovated and done by ONGC like hydrogen technology,
                                    methane
                                    initiative, CO<sub>2</sub> capture technology and clean cooking. At the end and as a voice of today’s
                                    youth, Miss
                                    Siya has requested the older generation to lead them towards the right direction to take
                                    appropriate
                                    climate corrective actions so that the youth can become a catalyst for change instead of
                                    victim.</p>
                                 <p>This session has put light on the seriousness of the need of gathering for thinking about
                                    climate
                                    change and action points that could be taken. For a self-realisation and eye-opener, a 200
                                    kg sack of
                                    CO<sub>2</sub> was unveiled. This amount of CO<sub>2</sub> is emitted by each person per month leading to global
                                    warming
                                    which will last upto 200-300 years. </p>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="imgBox">
                                 <img src="{% static 'images/Session_img.JPG' %}" alt="" title=""/>
                              </div>
                           </div>
                        </div>
                      </div>
                      
                  
                     <div class="tab-pane" id="Session2">

                        <div class="row align-items-center">
                           <div class="col-sm-8">
                              <div class="sessignBox">
                                 <h2>Session 2: The Cascading Cycle: Warming world – Rising energy demand – Warming World -
                                    ARE we heading
                                    the Right Direction?</h2>
                                 <p>Everything requires energy. From small to smallest task to bigger one every action
                                    requires energy and
                                    in today's world maximum energy requirement is being fulfilled by carbon base fuels. All
                                    these carbon
                                    based fuels are responsible for global warming. The development and economic growth as a
                                    whole depends
                                    on these fuels that drive the life of today’s world. Changing the lifestyle and dependency
                                    on these
                                    fuels for the sake of climate cannot be changed in one night. </p>
                                 <p>The world economy is walking blindlessly behind the GDP however, in between the path to
                                    it, has
                                    degraded the natural resources, water, air and soil that are precious to human life.
                                    However, it is
                                    believed that without interception of any policy, an appropriate action cannot be
                                    performed and to do
                                    so a tax penalty should be imposed for those who have crossed the optimal point of growth.
                                    It's a
                                    bigger challenge but different stakeholders have to come together to think about the
                                    complex solution
                                    and work on it. This has to do with an urgency as very much less time has left, which was
                                    seen through
                                    unveiling the Climate Clock.</p>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="imgBox">
                                 <img src="{% static 'images/Session_img2.JPG' %}" alt="" title=""/>
                              </div>
                           </div>
                        </div>
                        
                   
                     </div>
                     <div class="tab-pane" id="Session3">
                        <div class="row align-items-center">
                           <div class="col-sm-8">
                              <div class="sessignBox">
                                 <h2>Session 3: Policies and Programmes to Secure Climate and Energy security to the nation –
                                   ARE the
                                   Government initiatives pragmatic enough?</h2>
                                <p>Governments have learned from past implementations of initiatives like fighting for
                                   poverty or
                                   illiteracy to execute the implementation of action to be taken for climate change
                                   correction. Through
                                   policies and initiatives, the government is not only intending to act themselves but are
                                   for gathering
                                   people under one roof to act together. </p>
                                <p>Apart from this many enterprises or livelihoods depend on carbon based processes or
                                   materials. The
                                   policies or programmes have to take care of people who are associated with such
                                   livelihoods by
                                   providing them new green based livelihoods. But until completely shifting the circular
                                   economy to
                                   green based would not be possible. However, funds and finances can create a big gap to
                                   implement this
                                   initiative in such a short time.
                                </p>
                                <p>It is concluded that a self-realisation for the energy usage and awareness about climate
                                   change is the
                                   need of the hour and would fasten the actionary plans. A portal was launched named Energy
                                   Swaraj-
                                   Portal for Action and Learning (ES-PAL), which will take people to become energy literate
                                   and
                                   contribute to climate correction by taking some action. </p>
                             </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="imgBox">
                                 <img src="{% static 'images/Session_img3.JPG' %}" alt="" title="" />
                              </div>
                           </div>
                        </div>
                        
                        
                      
                     </div>
                     <div class="tab-pane" id="Session4">
                        <div class="row align-items-center">
                            <div class="col-sm-8">
                              <div class="sessignBox">
                                 <h2>Session 4: Enhancing awareness and preparedness of the climate change to the grassroot
                                    level - ARE
                                    the NGOs sensitising the communities enough?</h2>
                                 <p>Civil society (NGOs) play an important role in taking national policies and its benefits
                                    to local
                                    communities. They train rural people to understand these policies and its process. Not
                                    even that they
                                    also bridge the gap between the government perspectives on the policies and people’s
                                    needs. On the
                                    other hand, rural communities are the best friend of Nature. They live with and for
                                    Nature. They can
                                    be the best people who can help a lot in environmental conservation as they can listen and
                                    understand
                                    Nature's voice. However, Civil society has the ability to go to rural areas, talk to
                                    people, and can
                                    train to lead towards green development.</p>
                                 <p>There are many entrepreneurship opportunities as their livelihood in rural areas regarding
                                    solar
                                    energy, farming (organic), natural dying, textiles and food which need to be promoted. On
                                    the other
                                    hand, there is a need to bridge the gap between science and rural youth leadership
                                    quality. However,
                                    the contribution of rural communities for climate change is less as compared to urban
                                    areas but there
                                    is a need to educate rural people about the new technologies for sustainable enterprises
                                    and make
                                    aware them about its climate implications. </p>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="imgBox">
                              <img src="{% static 'images/Session_img4.JPG' %}"  alt="" title=""/>
                           </div>
                            </div>
                        </div>
                      
                     </div>
                     <div class="tab-pane" id="Session5">
                        <div class="row align-items-center">
                           <div class="col-sm-8">
                              <div class="sessignBox">
                                 <h2>Session 5: Mobilising masses towards Sustainable Actions through Spiritual Sensitization
                                    – ARE the
                                    Spiritual Organisations doing enough?
                                 </h2>
                                 <p>Humans have degraded the environment unconsciously through their uncontrollable action and
                                    usage of
                                    natural resources. Spirituality or self awareness can lead to understanding the actions
                                    that are
                                    harming Nature. Since ancient times, people have worshipped natural resources like water,
                                    soil, air,
                                    and sun to get the sense of their importance and to pay respect to Nature. But with growth
                                    and
                                    development and modernization, humans are losing consciousness towards Nature. Climate
                                    change is the
                                    byproduct of the unconscious human mind. There is a need to meditate not for personal
                                    stress but to
                                    become climate conscious. There is a need for new ideas, new philosophies for
                                    implementation
                                    sustainability. There is a need to connect religion with social work to propagate the
                                    solution for
                                    climate change. </p>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="imgBox">
                                 <img src="{% static 'images/Session_img5.JPG' %}"  alt="" title=""/>
                              </div>
                           </div>
                    </div>

                        
                     </div>
                     <div class="tab-pane" id="Session6">

                        <div class="row align-items-center">
                           <div class="col-sm-8">
                              <div class="sessignBox">
                                 <h2>Session 6: Media's effectiveness in informing and influencing societies in climate
                                    correction - ARE
                                    media giving enough space?
                                 </h2>
                                 <p>Media can play an effective role for influencing societies in climate correction. There is
                                    ample space
                                    in the media sector for passing the climate news. However, only those news gets the
                                    finances that are
                                    highly viewed by the public and climate news has very less audience. To influence the
                                    audience towards
                                    climate correction, the media have to present climate related information in a more
                                    dramatic and
                                    attractive way that will touch their heart. </p>
                                 <p>Social media can be used as a medium to pass on the information and today's youth can use
                                    it very
                                    effectively. As a concluding point, the panel brainstormed about the need for
                                    decentralisation of the
                                    media. However, funding support is a big question for Independent Journalism. </p>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="imgBox">
                                 <img src="{% static 'images/Session_img6.JPG' %}"  alt="" title=""/>
                              </div>
                           </div>
                    </div>
                     
                     </div>
                     <div class="tab-pane" id="Session7">
                        <div class="row align-items-center">
                           <div class="col-sm-8">
                              <div class="sessignBox">
                                 <h2>Session 7: Industries, their sustainability, environmental goals and outcomes - ARE they
                                    enough?
                                 </h2>
                                 <p>Industry sectors are major energy users and so major sustainable goals revolve around it.
                                    To achieve
                                    the sustainable goals, there is a need to decarbonise the industries and include best
                                    practices as per
                                    the regulations of BEE. Renewable based innovations and handholding to use such
                                    technologies can
                                    contribute to achieve the net-zero targets. However, such technology will have financial
                                    implications
                                    and for this some mechanisms like carbon credit or green bonds can be implemented. </p>
                                 <p>As a concluding point, the panel agreed that however, the climate change correction is not
                                    going at a
                                    fast pace but the industrial sector has the solution, mechanism to implement it and so has
                                    the finance
                                    for the same. What is needed to fasten up the correction process is to utilise the right
                                    technology
                                    and innovation at the right time and right place.</p>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="imgBox">
                                 <img src="{% static 'images/Session_img7.JPG' %}"  alt="" title=""/>
                              </div>
                           </div>
                           
                    </div>

                      
                     </div>
                     <div class="tab-pane" id="Session8">
                        <div class="row align-items-center">
                           <div class="col-sm-8">
                              <div class="sessignBox">
                                 <h2>Session 8: Education and Research for Climate Change Mitigation and Management – ARE the
                                    Academic
                                    Institutions prepared?</h2>
                                 <p>Academic sectors is the sector from which major innovative ideas and research comes out.
                                    Therefore,
                                    students should be encouraged to find green technological solutions. They should be
                                    encouraged to
                                    become job creators instead of job finders. Researchers can bring different mechanisms to
                                    monitor the
                                    carbon footprints and showcasing such values in more self-explanatory ways. There are
                                    ample
                                    opportunities in the education sector to improve the existing solutions and implement them
                                    for climate
                                    correction.</p>
                                 <p>Academic institutes have to bring in programs in their curriculum that teach the students
                                    about
                                    sustainable behaviour. As a concluding point, it was accepted to become first energy
                                    literate and then
                                    adopt or implement the solutions. Academic institutes can play an important medium for
                                    spreading
                                    awareness and consciousness about the impact of development on Nature.</p>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="imgBox">
                                 <img src="{% static 'images/Session_img8.JPG' %}"  alt="" title=""/>
                              </div>
                           </div>
                    </div>

                       
                     </div>
                  </div>
               </div>
            </div>

         </div>

      </div>
   </div>
</section>
{% endblock content %}