{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <div class="container">
        <h4>ARE Conference Session 3</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+3/574A0365-nyh8N6hs.jpg" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+3/574A0353-6sh8N6hs.jpg" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
               <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+3/574A0347-Moh8N6hs.jpg" alt="" title="" class="" />
                    </div>
                </div>
            
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+3/574A0348-hsh8N6hs.jpg" alt="" title="" class="" />
                    </div>
                </div>
            </div>
          
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+3/574A0358-rCh8N6hs.jpg" alt="" title="" class="" />
                    </div>
                </div>
            </div>
           
          </div>
    </div>
</section>
{% endblock content %}