{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <div class="container">
        <h4>ARE Conference Session 6</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+6/574A1109-mN6BN6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+6/574A1111-UN6BN6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+6/574A1114-cM6BN6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+6/574A1136-en7BN6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+6/574A1140-3H6BN6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+6/574A1141-0M6BN6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}