{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <section>
        <div class="container">
            <nav>
                <ol class="cd-breadcrumb">
                    <li><a href="#0">Home</a></li>
                    <li><a href="#0">Media</a></li>
                    <li class="current">ARE Conference Session 1</li>
                </ol>
            </nav>
        </div>
     </section>
    <div class="container">
        <h4>ARE Conference Session 1</h4>
        <div class="row">
            <div class="col-md-3">
               
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+1/574A0154-Van3N6hs.jpg" alt="" title="" class="" />
                    </div>
                </div>
            
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+1/574A0155-xqn3N6hs.jpg" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+1/574A0165-Zen3N6hs.jpg" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+1/574A0171-6cn3N6hs.jpg" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+1/574A0173-H7n3N6hs.jpg" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+1/IMG_3306-Gzm3N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+1/IMG_3335-hDm3N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+1/IMG_3348-a1m3N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}