{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <div class="container">
        <h4>ARE Conference Session 4</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="responsive">
                        <div class="img">
                            <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+4/574A0401-nCU8N6hs.JPG" alt="" title="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+4/574A0413-lBW8N6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+4/574A0416-RMW8N6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+4/574A0452-3cV8N6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+4/574A0456-AOU8N6hs.JPG" alt="" title="">
                    </div>
                </div>
               
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+3/574A0358-rCh8N6hs.jpg" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+4/574A0481-IFU8N6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
               <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+4/574A0482-HMU8N6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
               <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+4/574A0559-3cV8N6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
        </div>
          <!-- The Modal -->
          <div id="myModal" class="modal">
            <span class="close">×</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
    </div>
</section>
{% endblock content %}