{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <div class="container">
        <h4>ARE Conference Session 2</h4>
        <div class="row">
            <div class="col-md-3">
               
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/20221125_185329-pCW6N6hs.jpg" alt="" title="" class="" />
                    </div>
                </div>
            
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A0230-wCa7N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A0251-7WW6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A0263-ZVZ6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A0270-Sdc7N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A0440__1_-aSZ6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A0444-AWY6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A0488-6Tb7N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A0544-8oX6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A0550-cbX6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A0876-WKY6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A0933-TNX6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A1033-b0X6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A1039-29Z6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A1103-qLZ6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A1190-Nlc7N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A1228-QxX6N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+2/574A1253-VNa7N6hs.JPG" alt="" title="" class="" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}