{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <div class="container">
        <h4>ARE Conference Session 5</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+5/574A0869-YdN9N6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+5/574A0871-DsN9N6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+5/574A0925-biP9N6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+5/574A0928-IbN9N6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+5/574A0931-bbN9N6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+5/574A0936-7bN9N6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+5/574A0951-NiP9N6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mediaOuter">
                    <div class="ImgBoxMedia"><img
                            src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/ARE+Conference+Session+5/574A0968-OeN9N6hs.JPG"
                            alt="" title="" class="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}