{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="black_box"></div>
<section class="mediaBanner_area"></section>
<section class="mediagalleryimg">
    <div class="container">
        <h4>Shell Game Changer</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Shell+Game+Changer/574A1151-zWWKN6hs.JPG" alt="" title="">
                    </div>
                </div>
               
            </div>
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Shell+Game+Changer/574A1153-phXKN6hs.JPG" alt="" title="">
                    </div>
                </div>
           </div>
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Shell+Game+Changer/574A1156-BbXKN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Shell+Game+Changer/574A1161-mfXKN6hs.JPG" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Shell+Game+Changer/574A1176-teXKN6hs.JPG" alt="" title="">
                    </div>
                </div>
            
            </div>
            <div class="col-md-3">
                <div class="responsive">
                    <div class="img">
                        <img src="https://are-conference-staging.s3.us-east-2.amazonaws.com/images/Shell+Game+Changer/574A1192-lXWKN6hs.JPG" alt="" title="">
                    </div>
                </div>
             </div>
        </div>
          <!-- The Modal -->
          <div id="myModal" class="modal">
            <span class="close">×</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
    </div>
</section>
{% endblock content %}