{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/speaker.css' %}">
{% endblock extra_css %}


{% block content %}
    <!--Popup for Add Speaker Start-->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <form action="{% url 'speaker_add' %}" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="modal-header">              
                        <h4>Add Speaker</h4>
                    </div>
                    <div class="modal-body">                
                        <div class="form-group">

                            <label for="">Name</label>
                            <input type="text" name="name" class="form-control" id="" placeholder="Name" required="">
                            <label for="">Designation</label>
                            <input type="text" name="designation" class="form-control" id="" placeholder="Designation" required=""> 
                            <label for="">Detail</label>
                            <textarea name="detail"  class="form-control" id="" placeholder="Detail" required=""> </textarea> 
                            <label for="">Profile Image</label>
                            <input type="file"  name="profile_image"  class="form-control" id="" required=""> 
                            <input type="submit" class="btn btn-primary" value="Add">     
                        </div>
                    </div>
            </div>
            <div class="modal-footer justify-content-between">
            </div>
            </form>
            </div>
        </div>
    </div>
     <!--Popup for Add Speaker End-->
    <!-- banner -->
    <section class="speaker-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                   <div class="speaker-head">
                    <h1 class="pb-3">About 
                        <span>speakers</span>
                    </h1>
                    <p>The ARE Conference aims to bring the global leaders on one platform to deliberate on the climate crisis and to pledge concrete actions on mitigating it.
                        <br>
                        We are thankful for the following Eminent Speakers to grace the conference with their presence. </p>
                   </div>
                </div>
                <div class="col-md-5 text-center">
                    <img src="{% static 'images/speaker/mike.png' %}" alt="" title="" class="speaker-img"/>
                </div>
            </div>
        </div>
    </section>
    <!-- banner end -->
   
    <!-- speaker details -->
    <section class="speaker-details">
        <div class="container">
            <div class="row row-space">
                <div class="col-md-8 order-md-first order-last">
                    <div class="speaker_right">
                        <img src="{% static 'images/speaker/quote.png' %}{% static '" alt="" title="" class=""/>
                        <h4 class="pb-1">Dr. Anil Kakodkar</h4>
                        <h6 class="pb-2">Padma Vibhushan Awardee</h6>
                        <p>Dr. Anil Kakodkar was the Director of BARC and the Chairman of the Atomic Energy Commission, and Secretary to the Government of India, Department of Atomic Energy. He was amongst the chosen few involved in the first successful Peaceful Nuclear Explosion Experiment that India conducted on May 18, 1974, at Pokhran. He was awarded the Padma Vibhushan,
                         India's second-highest civilian honor, on 26 January 2009.</p>
                    </div>
                </div>
                <div class="col-md-4 order-md-last order-first">
                    <div class="bg-top right">
                        <img src="{% static 'images/speaker/anil.png' %}" alt="" title=""/>
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div class="col-md-4">
                    <div class="bg-top left">
                        <img src="{% static 'images/speaker/guri.png' %}" alt="" title=""/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="speaker_right">
                        <img src="{% static 'images/speaker/quote.png' %}" alt="" title="" class=""/>
                        <h4 class="pb-1">Ms. Gauri Singh</h4>
                        <h6 class="pb-2">Deputy Director-General, IRENA</h6>
                        <p>Gauri Singh is the Deputy Director-General of the International Renewable Energy Agency. Ms. Singh brings over 30 years of experience in policy, advocacy, and project implementation within the field of renewable energy and sustainable development from India and the international system. She was responsible for leading the development of the National Solar Mission of India policy in 2010,
                             an early policy framework designed to drive solar power development across the country.</p>
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div class="col-md-8">
                    <div class="speaker_right">
                        <img src="{% static 'images/speaker/quote.png' %}" alt="" title="" class=""/>
                        <h4 class="pb-1">Ms. Dia Mirza</h4>
                        <h6 class="pb-2">Actor, Producer, UN Environment Goodwill Ambassador & United Nations Secretary-General Advocate for Sustainable Development</h6>
                        <p>Dia Mirza is an award-winning Actor, Producer. Today, Dia Mirza has become the voice of environmental and wildlife conservation in the country and a torchbearer for causes related to nature. She was appointed as the United Nations 
                            Environment Goodwill Ambassador for India at the UNEA assembly held in Nairobi.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-top right">
                        <img src="{% static 'images/speaker/diya.png' %}" alt="" title=""/>
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div class="col-md-4">
                    <div class="bg-top left">
                        <img src="{% static 'images/speaker/proanil.png' %}" alt="" title=""/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="speaker_right">
                        <img src="{% static 'images/speaker/quote.png' %}" alt="" title="" class=""/>
                        <h4 class="pb-1">Prof. Anil Sahasrabudhe</h4>
                        <h6 class="pb-2">Chairman, All India Council for Technical Education</h6>
                        <p>Prof. Anil Sahasrabudhe, Professor of Mechanical Engineering at the Indian Institute of Technology (IIT), Guwahati joined the All India Council for Technical Education (AICTE) as Chairman on 17th July 2015. He has been bestowed with several awards which include "; the Maha-Intrapreneur Award-2011" of Praj Industries, Jeevan Gaurav Puraskar (Life Time Achievement Award) from MIT World Peace University, Pune in 2019, Mahatma Gandhi Leadership award from Indian Achievers Forum and CSR Times 
                            (2019). He has also been conferred Ravi J Matthai National Fellow Award by AIMS (2021).</p>
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div class="col-md-8">
                    <div class="speaker_right">
                        <img src="{% static 'images/speaker/quote.png' %}" alt="" title="" class=""/>
                        <h4 class="pb-1">Dr. Anjal Prakash</h4>
                        <h6 class="pb-2">Research Director and Adjunct Associate Professor, Indian School of Business</h6>
                        <p>Dia Mirza is an award-winning Actor, Producer. Today, Dia Mirza has become the voice of environmental and wildlife conservation in the country and a torchbearer for causes related to nature. She was appointed as the United Nations Environment Goodwill Ambassador for India at the UNEA assembly held in Nairobi.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-top right">
                        <img src="{% static 'images/speaker/anjal.png' %}" alt="" title=""/>
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div class="col-md-4">
                    <div class="bg-top left">
                        <img src="{% static 'images/speaker/sonam.png' %}" alt="" title=""/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="speaker_right">
                        <img src="{% static 'images/speaker/quote.png' %}{% static '" alt="" title="" class=""/>
                        <h4 class="pb-1">Mr. Sonam Wangchuk </h4>
                        <h6 class="pb-2">Founding Director, Himalayan Institute of Alternatives, Ladakh</h6>
                        <p>Prof. Anil Sahasrabudhe, Professor of Mechanical Engineering at the Indian Institute of Technology (IIT), Guwahati joined the All India Council for Technical Education (AICTE) as Chairman on 17th July 2015. He has been bestowed with several awards which include "; the Maha-Intrapreneur Award-2011" of Praj Industries, Jeevan Gaurav Puraskar (Life Time Achievement Award) from MIT World Peace University, Pune in 2019, Mahatma Gandhi Leadership award from Indian Achievers Forum and CSR Times (2019). He has also been conferred Ravi 
                            J Matthai National Fellow Award by AIMS (2021).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- speaker details  end-->
{% endblock content %}
