{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}
<!-- banner start -->
<div class="black_box"></div>
<section class="Swarajaward2022_area">
   <div class="container">
      <div class="Swarajaward2022inner">
         <div class="row align-items-center justify-content-center">
            <h1>Energy Swaraj Awards 2022</h1>
            <div class="col-md-3 col-6">
               <div class="EASImg">
                  <img src="{% static 'images/ASA1.png' %}" alt="" title="" class="" />
               </div>
            </div>
            <div class="col-md-6 col-6">
               <div class="EASImg">
                  <img src="{% static 'images/ASA2.png' %}" alt="" title="" class="" />
               </div>
            </div>
            <div class="col-md-3 col-6">
               <div class="EASImg">
                  <img src="{% static 'images/ASA3.png' %}" alt="" title="" class="" />
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- banner close -->
<section class="AreConferenece2022">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-md-7">
            <h2>Energy Swaraj Awards 2022</h2>
            <p>Energy Swaraj Foundation launched AMG (Avoid-Minimise-Generate) Awards as well as Climate Hackathon
               Challenge - ideas and actions to save the world to recognize citizen’s contributions, encourage them and
               provide them limelight so that they can spread their actions and ideas. </p>
            <p>The Energy Swaraj Award recognized the best examples of individuals, organisations, industries,
               non-governmental organisations and government bodies who are working hard to promote sustainable living.
            </p>

            <p>Through <b>Climate Hackathon Challenge Awards</b>, the aim was to inspire, motivate, and engage students
               by conducting various types of competition. Participants presented their ideas by following competitions:
               <b>Write an on Essay on Climate Change and its Solution, Write a Song on Climate Change and Its Solution,
                  Write Drama Script on Climate Change and Its solution, Write up on What should individuals/academic
                  institutions/industries do to mitigate climate change?, and Paint a T-shirt with a message related to
                  climate change and its solution</b>.</p>
            <p><b>For AMG Awards, the selection was on the basis of who followed three Avoid-Minimize-Generate (AMG)
                  principles in their actions towards reducing their energy (electricity) consumption and adopting
                  renewable energy solutions.</b><br />
               Principle-1: Avoid the use of energy by 1/3rd,<br />
               Principle-2: Minimize the use of energy by 1/3rd,<br />
               Principle-3: Generate energy locally only 1/3rd<br />
               We collaborated with <b>Earth Day Network (earth day India network)</b> to organise these awards.</p>
            <p>The participants of the competition were appreciated through digital appreciation certificates. And the
               winners of <b>Energy Swaraj Awards (Avoid-Minimise-Generate and Climate Hackathon Challenge) received
                  award money and certificate of achievement in the award ceremony</b>. Winners of Shell GameChanger,
               AMG Challenge and Climate Hackathon challenge with <b>prize money of about Rs 1.75 Crore</b> were
               announced.</p>
         </div>
         <div class="col-md-5">
            <img src="{% static 'images/award2022.png' %}" alt="" title="" />
         </div>
      </div>

   </div>
</section>
{% endblock content %}