{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ourpartner.css' %}">
{% endblock extra_css %}


{% block content %}
<div class="black_box"></div>
<section class="swarakAward2023_area">
   <div class="container-fluid">
      <div class="swarajtext2023">
        <h3>Energy</br> Swaraj</h3>
        <h2>Awards</br> 2023</h2>
      </div>
   </div>
</section> 
<section class="SwarajAward_textBottom">
     <div class="container">
         <h2>Energy Swaraj Awards 2023</h2>
         <p>Energy Swaraj Foundation launched AMG (Avoid-Minimise-Generate) Awards as well as Climate Hackathon Challenge - ideas and actions to save the world to recognize citizen’s contributions, encourage them and provide them limelight so that they can spread their actions and ideas. </p>
         <p>Swaraj Award recognizes the best examples of individuals, organisations, industries, non-governmental organisations and government bodies who are working hard to promote sustainable living.</p>
     </div>
</section>


{% endblock content %}